[2015-12-20 02:00] camerontrimble opened #1 "Move logo down so that it is not at the top of the screen"
![screenshot 2015-12-19 21 00 18](https://cloud.githubusercontent.com/assets/15096099/11916065/86e247a6-a693-11e5-8301-e4ea30533d21.png)

[2016-01-01 16:46] camerontrimble opened #2 "Should be able to post .m4a files"

[2016-01-01 16:47] camerontrimble opened #3 "Need to auto format feature images for products (if possible)"
http://convergencemp.com/product-listing.php

[2016-01-01 17:05] camerontrimble opened #4 "Product List Page needs formating"
http://convergencemp.com/product-listing.php

[2016-01-01 17:06] camerontrimble opened #5 "Connect Dashboard Widgets to real data in the system"

[2016-01-01 17:06] camerontrimble opened #6 "Website pages are not connect to the backend dashboard"

[2016-01-02 18:56] #1 closed, assigned to debdiproy

[2016-01-16 15:07] camerontrimble opened #7 "Change "Shop" to "Find Songs""

[2016-01-16 15:09] camerontrimble opened #8 "Connect Twitter and Facebook feeds"
https://www.facebook.com/convergencemusicproject

https://twitter.com/ConvergenceMvmt

[2016-01-16 15:10] camerontrimble opened #9 "Change address on site"
PO Box 45236
Madison, WI 53744-5236

Phone: 608.577.8716

[2016-01-16 15:11] camerontrimble opened #10 "We need to set up email accounts for the convergencemp.org domain"
bryan@
info@
support@

[2016-01-16 15:16] camerontrimble opened #11 "Add a search functionality for song catalogue page or expand the top navigation...let's talk about this one"
Actually, maybe this is better as a side navigation.
Click on "Find Songs" and then you see the catalogue page with a side navigation that has all of the options below - like the way Amazon is structured.

NOTES FROM BRYAN:
Find a Song tab

on the site come up with their category next to them)  We’ll eventually want to have information about

each artist and links to the artist’s website, but that

[2016-01-16 15:19] camerontrimble opened #12 "Every Song will have multiple products that people should be able to buy"
Buy the package
Buy the mp3
Buy the sheet music
Buy the chord sheets

Also, people will want to see what they are buying so we need to have a preview feature.

[2016-01-16 15:20] camerontrimble opened #13 "Install preview feature for downloadables"

[2016-01-16 15:20] camerontrimble opened #14 "Test creating a user account - doesn't seem to be working"

[2016-01-16 15:27] camerontrimble opened #15 "Need to be able to highlight a featured artist on main page"
Let's look at the design of the main page again. We need to highlight featured artists, songs, and  news updates. We may also want to build in some space for advertising.

[2016-01-16 15:28] camerontrimble opened #16 "Make the text darker throughout the site"
Bryan was having a hard time reading it

[2016-01-16 15:29] camerontrimble opened #17 "On the Subscription Service page, put the text into a retractable feature like on the ABOUT US page"

[2016-01-16 15:29] camerontrimble opened #18 "Add a blog to the site"

[2016-01-18 11:42] Designer-cleonix commented on #16
Updated. Please check.

[2016-01-18 11:46] Designer-cleonix commented on #7
Updated.

[2016-01-19 09:29] Designer-cleonix commented on #17
Updated, Please check.

[2016-01-21 08:52] Designer-cleonix commented on #4
We have updated it. Please check.

[2016-01-22 11:14] Designer-cleonix commented on #9
Updated.
And also created a contact page for the site.
http://convergencemp.com/contact.php

[2016-01-22 11:17] Designer-cleonix commented on #18
We have created  blog list and blog details pages for the site.
http://convergencemp.com/blog.php
http://convergencemp.com/blog-detail.php?post=9

And add the link in the header menu.

Please have a look.

[2016-01-22 11:19] Designer-cleonix commented on #8
Updated the feeds in footer. Please have a look.

[2016-01-22 12:09] bikash02 commented on #2
updated the code

[2016-01-22 12:26] bikash02 commented on #18
updated the comment section as well and once you will approve the comment from the admin panel,it will show in the website.Added the social share button.

[2016-01-25 16:26] #18 closed, assigned to debdiproy

[2016-01-26 15:28] #16 closed, assigned to Designer-cleonix

[2016-01-26 15:29] #17 closed, assigned to debdiproy

[2016-01-26 15:30] #9 closed, assigned to debdiproy

[2016-01-26 15:30] #8 closed, assigned to jayantapatra

[2016-01-26 15:30] #7 closed, assigned to debdiproy

[2016-01-26 16:23] debdiproy commented on #10
Webmail access: http://convergencemp.com/webmail

User:
bryan@convergencemp.com
info@convergencemp.com
support@convergencemp.com

Pass: cmp2016!

[2016-01-26 16:28] debdiproy commented on #5
We have already added real time data in the dashboard widgets, please let us know if you need any further customization on that

[2016-01-26 17:14] #4 closed, assigned to debdiproy

[2016-01-26 17:14] #2 closed, assigned to debdiproy

[2016-01-27 15:11] #15 closed, assigned to i-puspita

[2016-01-27 19:08] camerontrimble opened #19 "Change PRODUCT DETAILS title to Song Catalogue"

[2016-01-27 19:10] camerontrimble opened #20 "Delete Mission statement in the footer"

[2016-01-28 06:12] jayantapatra commented on #14
Corrected this issue

admin access
username : bubai
password : bubai2das

user access
username : jayanta
password : 12341

[2016-01-28 11:35] Designer-cleonix commented on #20
Deleted.

[2016-01-28 11:41] Designer-cleonix commented on #19
Updated.
http://convergencemp.com/product-listing.php

[2016-01-29 13:32] bikash02 commented on #5
@jayantapatra please update the visitor map including map pointer in the dashboard section..

[2016-01-30 10:33] Designer-cleonix commented on #3
It can not be auto formatted due to the design. It's a fixed width height design.

[2016-01-30 10:54] jayantapatra commented on #5
updated this map. please check and give review

[2016-01-30 16:44] #20 closed, assigned to Designer-cleonix

[2016-01-30 23:52] #19 closed, assigned to Designer-cleonix

[2016-01-30 23:53] #3 closed, assigned to Designer-cleonix

[2016-01-30 23:53] #12 closed, assigned to debdiproy

[2016-01-30 23:53] #11 closed, assigned to debdiproy

[2016-01-31 00:02] camerontrimble opened #21 "Edits to http://convergencemp.com/profile.php"
Change the page name to "Our Team" in the navigation and the page

Connect the individual profiles to the backend so that we can add the bios

[2016-02-01 09:35] i-puspita commented on #21
"Change the page name to "Our Team" in the navigation and the page" is updated.

[2016-02-01 09:53] bikash02 opened #22 "update sidebar navigation in admin panel"
Website Frontend
1.Page Name
2.Web pages
3.FAQ
4.Team Members
5.Manage Slider

[2016-02-01 09:55] bikash02 commented on #6
The pages are connected to backend

[2016-02-01 10:00] bikash02 opened #23 "If the social media info is left blank in the backend then the icon should not display in the frontend"
http://www.convergencemp.com/profile.php

NB:Please add the social media icons under the member name in the details page also.

[2016-02-01 11:42] bikash02 opened #24 "product image and title are not connected"
http://convergencemp.com/product-listing.php

[2016-02-01 11:47] bikash02 opened #25 "need to fix the product grid layout"
Please check the 3rd product grid.The buttons are overlapping to the grid.
http://convergencemp.com/product-listing.php

[2016-02-01 11:48] bikash02 commented on #24
@jayantapatra please update the store currency to $

[2016-02-01 11:54] i-puspita commented on #25
updated

[2016-02-01 12:03] #25 closed, assigned to i-puspita

[2016-02-01 12:14] bikash02 opened #26 "Product rating/review is not connected"
http://convergencemp.com/product-details.php?post=20

[2016-02-01 12:19] creating-bubai commented on #22
Updated

[2016-02-01 12:19] creating-bubai commented on #23
Updated

[2016-02-01 12:21] #23 closed, assigned to creating-bubai

[2016-02-01 12:21] #22 closed, assigned to creating-bubai

[2016-02-01 12:26] bikash02 commented on #21
you can add or edit the team member from the backend
Sidebar Navigation -> Website Frontend -> Team Member

[2016-02-02 10:09] bikash02 opened #27 "update cart system so that user can select bandle product or individual item"

[2016-02-02 10:14] jayantapatra commented on #27
completed

[2016-02-02 10:16] jayantapatra commented on #24
done

[2016-02-03 12:04] #24 closed, assigned to jayantapatra

[2016-02-03 12:05] #27 closed, assigned to jayantapatra

[2016-02-04 13:35] camerontrimble opened #28 "http://convergencemp.com/subscription-service.php"
Need a way for people to purchase a subscription on this page. Also add a button on the "Find a song" page on the left side.

[2016-02-05 07:10] bikash02 commented on #28
@i-puspita please complete the design part first and I will take care the rest part.

[2016-02-05 07:58] i-puspita commented on #28
design section is updated

[2016-02-05 12:28] bikash02 commented on #26
@camerontrimble Please check  the review and rating section and let me know if anything else you need in this section.

[2016-02-22 22:19] camerontrimble opened #29 "Add new super admin"
Thomas Kleczka
thomas@progressiverenewal.org

[2016-02-24 10:26] creating-bubai commented on #29
Done

[2016-02-24 10:28] creating-bubai commented on #29
Completed

[2016-02-24 10:41] bikash02 commented on #29
@debdiproy  please forward the email to @camerontrimble

[2016-03-17 06:44] bikash02 commented on #26
Please respond

[2016-03-17 06:52] bikash02 commented on #5
Please respond

[2016-03-22 18:48] #29 closed, assigned to creating-bubai

[2016-03-22 18:49] camerontrimble commented on #14
I am not able to create new accounts on the site. Can you check this?

[2016-03-22 18:51] #6 closed, assigned to creating-bubai

[2016-03-22 18:51] #5 closed, assigned to debdiproy

[2016-03-22 19:45] #26 closed, assigned to creating-bubai

[2016-04-21 08:29] bikash02 commented on #14
Updated the code.Kindly check once again.

[2016-04-21 09:52] bikash02 commented on #28
updated

[2016-04-23 05:49] bikash02 commented on #28
Please provide us the paypal id

[2016-04-28 00:44] camerontrimble commented on #28
cameron@convergenceus.org

[2016-04-28 00:45] #14 closed, assigned to jayantapatra

[2016-04-29 20:17] camerontrimble opened #30 "Create an admin account for Bryan Sirchio"

[2016-04-29 20:19] camerontrimble opened #31 "Problem displaying number of parent ID"

[2016-04-29 20:24] camerontrimble opened #32 "Change Price to Bundle Price"
Price -> Bundle Price
Offer Price -> Discount Bundle Price

[2016-04-29 20:26] camerontrimble opened #33 "Change Product Names"
Audio Format (MP3)
Lead Sheet
Piano Arrangement

[2016-04-29 20:30] camerontrimble opened #34 "Add subscription discount and coupon code"
Review all attachments that Bryan has sent to us

[2016-04-29 20:36] camerontrimble opened #35 "Code for Song Submission so that people don't pay to upload a file"
People should have to pay $30 to submit a song unless they have a coupon code

[2016-04-29 20:37] camerontrimble opened #36 "Email to admin when someone submits a song"

[2016-04-29 20:38] camerontrimble opened #37 "Download link for files submitted by users to the admin panel/products"

[2016-04-29 20:39] camerontrimble opened #38 "Hide the subscription Service section"

[2016-04-29 20:43] camerontrimble opened #39 "Roles: User and Subscriber"
User - people who purchase individual products
Subscriber - people who subscribe and should receive a discount on every product

[2016-04-29 20:56] camerontrimble opened #40 "Add Best seller and newest artists carasoul"

[2016-04-29 20:57] camerontrimble opened #41 "Check to make sure that the images are not distorted between product images and carasoul"

[2016-04-29 20:59] camerontrimble opened #42 "Make caraouls manual"

[2016-04-29 21:03] camerontrimble opened #43 "New categories are not showing up on "Find a Song""

[2016-04-29 21:11] camerontrimble opened #44 "Load Otis Moss endorsement"

[2016-04-29 21:23] camerontrimble opened #45 "Can we create an automated system to pay artists?"

[2016-05-02 06:24] bikash02 commented on #28
updated the paypal id

[2016-05-02 06:59] bikash02 commented on #30
Mr. Bryan Sirchio account upgraded to admin.Please try to login using the same credentials.

[2016-05-02 14:29] bikash02 commented on #32
updated..
http://convergencemp.com/backoffice/product_add.php
http://convergencemp.com/backoffice/product_edit.php?id=20

[2016-05-02 14:59] bikash02 commented on #36
updated the code.The email will forward to cameron@convergenceus.org
If you want to forward it to all the admin then we will have to update it accordingly.
Please reply what to do..

[2016-05-02 18:58] camerontrimble commented on #36
send also to bryan@convergencemp.com

[2016-05-02 18:58] #32 closed, assigned to creating-bubai

[2016-05-02 18:58] #30 closed, assigned to debdiproy

[2016-05-02 21:01] #28 closed, assigned to i-puspita

[2016-05-02 21:02] #43 closed, assigned to creating-bubai

[2016-05-03 13:16] camerontrimble opened #46 "List categories alphabetically"

[2016-05-03 13:17] #40 closed, assigned to bikash02

[2016-05-03 13:17] #41 closed, assigned to Designer-cleonix

[2016-05-03 13:17] #42 closed, assigned to debdiproy

[2016-05-03 13:18] #33 closed, assigned to debdiproy

[2016-05-03 13:19] #31 closed, assigned to debdiproy

[2016-05-03 13:27] camerontrimble opened #47 "Hide the Discount pricing on the front end if no price is entered"

[2016-05-03 13:28] camerontrimble opened #48 "List three prices on the products"
On both the icon and the product page

[2016-05-03 13:36] camerontrimble opened #49 "Add "Licensed By" field to the product page"
CCLI
LicenSing
OneLicense.net

[2016-05-03 13:48] camerontrimble opened #50 "Control decimal points in the bundle price"

[2016-05-03 13:49] camerontrimble opened #51 "Allow " ' " in the names of products"

[2016-05-03 13:50] camerontrimble opened #52 "Allow for products to be submitted to multiple categories"

[2016-05-03 13:57] camerontrimble opened #53 "Change these fields to not required"
Lead Sheet Offer Price
Music Offer Price
Piano Arrangement Offer Price

[2016-05-03 13:59] camerontrimble opened #54 "Do not allow for user to register multiple times with the same email address."

[2016-05-03 14:08] camerontrimble opened #55 "need to be able to edit this page: http://convergencemp.com/music-submit.php"

[2016-05-04 06:58] bikash02 commented on #53
updated.

[2016-05-04 07:42] bikash02 commented on #47
updated

[2016-05-04 07:54] bikash02 commented on #46
updated

[2016-05-04 07:54] bikash02 commented on #38
updated

[2016-05-04 09:02] bikash02 commented on #36
updated

[2016-05-04 10:26] bikash02 commented on #54
updated

[2016-05-05 13:20] #54 closed, assigned to debdiproy

[2016-05-05 13:23] #53 closed, assigned to debdiproy

[2016-05-05 13:23] #47 closed, assigned to debdiproy

[2016-05-05 13:23] #46 closed, assigned to debdiproy

[2016-05-05 13:24] #38 closed, assigned to creating-bubai

[2016-05-05 13:24] #36 closed, assigned to creating-bubai

[2016-05-05 13:24] #21 closed, assigned to Designer-cleonix

[2016-05-05 13:33] camerontrimble opened #56 "Change carasoul text"
Song name and artist name

[2016-05-05 13:34] camerontrimble opened #57 "Make caracul images round"

[2016-05-05 13:44] camerontrimble opened #58 "Add lyric sheet to table"

[2016-05-05 13:48] camerontrimble opened #59 "Add a product for PPT upload on the product page and back end"
PPT

[2016-05-05 13:51] camerontrimble opened #60 "Create multi-upload field for Liturgical Resources on submit box, on the product page and backend"

[2016-05-05 13:56] camerontrimble opened #61 "On Submit Songs"
ADD Lyric Sheet field for upload (not mandatory)

Make NOT required:
- Lead sheet
- Piano arrangement
- profile image

[2016-05-09 07:16] bikash02 commented on #51
updated

[2016-05-09 08:23] bikash02 commented on #61
updated the page.
http://convergencemp.com/music-submit.php

[2016-05-10 00:39] camerontrimble opened #62 "Add quote to front page"
Every movement needs new songs to sing. Convergence Music Project is a collaboration of musicians, artists, congregational leaders and denominations to curate and distribute beautiful congregational music with life-giving, progressive theology. We believe Jesus's life models love, grace and hope to everyone - absolutely everyone - and we want to sing songs that are true to our experience of this j

[2016-05-10 06:01] bikash02 commented on #56
updated

[2016-05-10 06:06] bikash02 commented on #55
updated..
http://convergencemp.com/backoffice/website-editpage.php?id=32

[2016-05-10 07:02] bikash02 commented on #62
updated

[2016-05-10 07:55] bikash02 commented on #37
updated.
http://convergencemp.com/backoffice/product_edit.php?id=20

[2016-05-10 07:59] bikash02 commented on #50
updated

[2016-05-10 09:55] bikash02 opened #63 "add pagination in product listing page"

[2016-05-11 00:43] camerontrimble opened #64 "Change page name: http://convergencemp.com/product-listing.php"
Change to: Song Catalog

[2016-05-11 00:44] #62 closed, assigned to creating-bubai

[2016-05-11 00:44] #61 closed, assigned to creating-bubai

[2016-05-11 00:45] #56 closed, assigned to creating-bubai

[2016-05-11 00:45] #55 closed, assigned to creating-bubai

[2016-05-11 00:45] #51 closed, assigned to creating-bubai

[2016-05-11 00:46] #50 closed, assigned to debdiproy

[2016-05-11 00:46] #37 closed, assigned to debdiproy

[2016-05-11 10:36] creating-bubai commented on #64
updated

[2016-05-11 10:37] creating-bubai commented on #63
updated

[2016-05-12 21:01] #64 closed, assigned to creating-bubai

[2016-05-12 21:01] #63 closed, assigned to creating-bubai

[2016-05-12 21:02] #57 closed, assigned to Designer-cleonix

[2016-05-12 21:11] camerontrimble opened #65 "Error in shopping cart"
![screenshot 2016-05-12 17 10 46](https://cloud.githubusercontent.com/assets/15096099/15230611/8fee45e6-1864-11e6-9d5b-3983bd33c463.png)

[2016-05-12 21:54] Designer-cleonix commented on #44
I have added the info and image in slider. but they are not loading. Fix it ASAP. @creating-bubai

[2016-05-13 04:57] debdiproy commented on #60
@creating-bubai
page:http://convergencemp.com/music-submit.php
Create multi-upload field for Liturgical Resources.

[2016-05-13 04:58] debdiproy commented on #59
http://convergencemp.com/music-submit.php
make a field with ,ppt upload.

[2016-05-13 07:33] bikash02 commented on #58
updated

[2016-05-13 07:35] bikash02 commented on #65
updated

[2016-05-13 07:36] bikash02 commented on #59
updated

[2016-05-13 09:05] bikash02 opened #66 "User can add a new slider from the backend."

[2016-05-13 09:10] bikash02 commented on #66
Please add the link to backend menu

[2016-05-13 09:23] bikash02 commented on #49
updated

[2016-05-13 09:26] bikash02 commented on #44
updated

[2016-05-13 10:50] bikash02 commented on #13
updated
http://convergencemp.com/backoffice/product_edit.php?id=20

[2016-05-13 11:00] creating-bubai commented on #66
updated

[2016-05-13 11:10] #66 closed, assigned to creating-bubai

[2016-05-13 11:24] bikash02 commented on #34
updated discount and coupon code.Please create the coupon code from the backend first.
http://convergencemp.com/subscribe.php
http://convergencemp.com/cart.php

[2016-05-13 12:14] camerontrimble commented on #44
Please make the Otis Moss Slide the #2 slide in the banner

[2016-05-13 12:16] camerontrimble opened #67 "Registering new admin on the backoffice isn't working"
http://convergencemp.com/backoffice/register.php

[2016-05-13 12:17] camerontrimble opened #68 "My login isn't working"
Can you send me admin login credentials for the backoffice of the CMP site?

[2016-05-13 12:42] camerontrimble opened #69 "Use this image for the "Early Adopter" image on the homepage"
![founding subscriber](https://cloud.githubusercontent.com/assets/15096099/15247831/ac302c76-18e4-11e6-9b84-35c771854d7b.png)

[2016-05-13 12:45] camerontrimble opened #70 "Can we use this image for the "Advertise here" box on the homepage?"
![Uploading OPEN Faith Web+Banner+2.jpg…]()

[2016-05-13 12:47] #49 closed, assigned to creating-bubai

[2016-05-13 12:47] #65 closed, assigned to bikash02

[2016-05-13 13:05] Designer-cleonix commented on #69
Updated.

[2016-05-13 13:05] Designer-cleonix commented on #70
Updated

[2016-05-13 13:08] camerontrimble commented on #70
![open faith web banner 2](https://cloud.githubusercontent.com/assets/15096099/15248315/86ee002a-18e7-11e6-87bc-63e8f3f5df5f.jpg)

[2016-05-13 13:08] #70 closed, assigned to Designer-cleonix

[2016-05-13 13:08] #69 closed, assigned to Designer-cleonix

[2016-05-13 13:28] bikash02 commented on #68
ctrimble
love210

[2016-05-13 13:28] bikash02 commented on #68
Please reset your password after first login.

[2016-05-13 13:46] bikash02 commented on #67
User register http://convergencemp.com/backoffice/register.php
Admin register http://convergencemp.com/backoffice/member-add.php

Only Admin can register a member as admin.

[2016-05-13 13:47] bikash02 commented on #44
updated

[2016-05-13 14:23] bikash02 commented on #52
need to be updated by tomorrow.

[2016-05-13 14:40] camerontrimble opened #71 "Need a way for people to purchase - please add a button"
http://convergencemp.com/eam.php

[2016-05-13 16:07] camerontrimble commented on #34
We need to be able to connect a discount code to a particular product or to have the option for the code to be applied to all products.

[2016-05-13 16:50] camerontrimble opened #72 "formatting off - missing decimal"
![screenshot 2016-05-13 12 50 01](https://cloud.githubusercontent.com/assets/15096099/15255313/4b6bef7c-1909-11e6-963d-b18236356098.png)

[2016-05-13 16:52] #44 closed, assigned to creating-bubai

[2016-05-13 16:52] #58 closed, assigned to creating-bubai

[2016-05-13 16:52] #59 closed, assigned to creating-bubai

[2016-05-13 16:53] #67 closed, assigned to bikash02

[2016-05-13 16:53] #68 closed, assigned to bikash02

[2016-05-13 16:55] camerontrimble opened #73 "Decimals missing on cart screen as well"
![screenshot 2016-05-13 12 54 21](https://cloud.githubusercontent.com/assets/15096099/15255425/e7346074-1909-11e6-9c29-4df6ca123a07.png)

[2016-05-13 18:36] Designer-cleonix commented on #10
@camerontrimble  Hello,
All are working fine. Please check the mail id s and let me know if you need some other mail id.

[2016-05-13 18:38] camerontrimble opened #74 "Feature artist image disappeared from homepage - may be my fault! Sorry!"

[2016-05-13 18:39] camerontrimble opened #75 "Can we access the files in a directory through the backend?"

[2016-05-13 19:05] Designer-cleonix commented on #74
It's ok. No problem. We will fix it  but can you please tell me what did you do , then probably developers  can guide you to change the images or rectify the issue to avoid this problem in future. Thank you.

[2016-05-13 19:26] camerontrimble opened #76 "Licensing Box should pop up after a customer adds a song to their cart"
Add text in a pop up box ( Debdip has this in a word doc)

[2016-05-13 19:27] camerontrimble opened #77 "Move the "License By" dropdown box to the back end so that an admin can enter that info...BUT..."
But still display the text on the product page on the front end so the customer can see it.

[2016-05-13 19:29] camerontrimble opened #78 "Display Pricing needs to be edited"
Product Name
- Full Price
- Discount Price
- Member Price

Do this on both the "Find Songs" page and the individual product pages

[2016-05-13 19:34] camerontrimble commented on #74
I edited the text on the homepage through the backend. I didn't do anything to the image files. I saved the page and then the image disappeared.

[2016-05-13 20:04] Designer-cleonix commented on #76
@bikash02
After clicking "add to cart" button, there will be a modal/pop up to select the following option with radio button

Your Licensing Options
1. ___ No licensing deal needed. My church has licensing for this song via CCLI or LicenSing or OneLicense.net or some other church music licensing organization.  We will report as usual.
2. ___I am a CMP Early Adopter Member or Subscription Service M

[2016-05-14 09:20] creating-bubai commented on #74
updated

[2016-05-14 10:38] bikash02 commented on #75
You can access files in a directory through the backend.Please tell me what kind of access you need.
1.Files of all products.
2.Files of individual product.

[2016-05-14 10:45] bikash02 commented on #48
updated the prices.

[2016-05-14 11:18] bikash02 commented on #77
updated

[2016-05-14 11:21] bikash02 commented on #71
added the purchase button.

[2016-05-14 11:24] bikash02 commented on #45
Can you please elaborate how to implement this

[2016-05-14 11:35] bikash02 commented on #78
updated the issue.

[2016-05-14 12:09] Designer-cleonix commented on #74
Hello @camerontrimble  ,
 Sorry to say, that was not your fault, that problem occurred due to a programming bug. But we have solved it.

[2016-05-14 12:12] bikash02 commented on #72
updated decimal formatting

[2016-05-14 12:23] bikash02 commented on #73
updated

[2016-05-14 14:00] camerontrimble commented on #78
Great. One more thing: If there is not a price listed for Discount Price, that label should not appear on the Find a Song Page or the Product page.

Also, on the product page, each product needs the price breakdown as well. Let's change the design on this section to make this more efficient. Let's build a table like this attached that lists all of the ways that a customer can purchase a product.
!

[2016-05-14 14:01] camerontrimble opened #79 "Code error on the backend"
![screenshot 2016-05-14 09 59 13](https://cloud.githubusercontent.com/assets/15096099/15268849/d2af3e56-19ba-11e6-9abe-a8f6c6fbc2a6.png)

[2016-05-14 14:08] camerontrimble commented on #77
With the new design, we will incorporate this into the table.

[2016-05-14 14:08] camerontrimble commented on #75
Individual products would be most important at this point. Bryan (the admin) will need to be able to download the files.

[2016-05-14 14:09] #74 closed, assigned to creating-bubai

[2016-05-14 14:13] camerontrimble commented on #71
Ummm...this looks unfinished. I'm assuming you are still working on the design?
![screenshot 2016-05-14 10 12 04](https://cloud.githubusercontent.com/assets/15096099/15268905/769f842a-19bc-11e6-92fe-c6c7c08f54a7.png)

[2016-05-14 14:15] camerontrimble commented on #71
I think you could just drop them into the shopping cart once they have submitted the music since we have a coupon code function already built. It would save having to create a whole new page, maybe...

In other words, make submitting a song a product that is purchased through the shopping cart

[2016-05-14 14:15] #73 closed, assigned to bikash02

[2016-05-14 14:21] camerontrimble commented on #77
I am wondering if we need to redesign the product table structure. We will have different kinds of products:

Music
License Fees
Submit Music
Membership

Right now, we can only load music. Do you see the problem?

[2016-05-14 14:21] #72 closed, assigned to bikash02

[2016-05-14 14:23] #48 closed, assigned to creating-bubai

[2016-05-14 14:25] camerontrimble commented on #35
We need a coupon entry box here

[2016-05-14 14:25] #35 closed, assigned to creating-bubai

[2016-05-14 14:26] camerontrimble commented on #13
I added this to the new table design. The customer needs to be able to preview the products.

[2016-05-14 14:27] camerontrimble commented on #10
I am working on this. You can take it off your list but I want to leave it in Github so that I don't forget.

[2016-05-14 14:28] camerontrimble opened #80 "Design issues on User dashboard"
![screenshot 2016-05-14 10 28 12](https://cloud.githubusercontent.com/assets/15096099/15268982/a1b8ec80-19be-11e6-92b2-eaaf91f10f1e.png)

[2016-05-14 14:29] camerontrimble opened #81 "User should not be able to edit their submitted music file."

[2016-05-14 14:30] camerontrimble opened #82 "User should not be able to see the coupon section in the left navigation"

[2016-05-14 14:31] camerontrimble opened #83 "User should not be able to add a product from their dashboard"

[2016-05-14 14:53] Designer-cleonix commented on #75
@bikash02  Please take care of it. Thank you.

[2016-05-14 14:55] Designer-cleonix commented on #10
Ok. No problem.

[2016-05-14 19:01] camerontrimble opened #84 "Can we change the submit music process?"
Can we change the process to something more like this: https://www.lorenz.com/more-information/submit-your-music

The people submitting the music don't have to log in first. Right now, because people have to log in, it creates a barrier.

[2016-05-16 06:48] creating-bubai commented on #82
updated

[2016-05-16 06:53] creating-bubai commented on #83
updated

[2016-05-16 06:55] creating-bubai commented on #81
updated

[2016-05-16 08:03] bikash02 commented on #79
updated

[2016-05-16 09:13] bikash02 commented on #75
You will find the link under Products-> Download Files.Only admin can view the link.
http://convergencemp.com/backoffice/product_directory-view.php

[2016-05-16 09:21] bikash02 commented on #76
updated

[2016-05-16 10:01] i-puspita commented on #80
updated

[2016-05-16 14:03] bikash02 commented on #52
Updated the code.Please check once again.

[2016-05-16 14:23] bikash02 commented on #13
Do you want to preview in the same page like modal view or in a new page?We are very close to finish the issue.You will get the update by tomorrow.

[2016-05-16 14:25] #81 closed, assigned to creating-bubai

[2016-05-16 14:25] #82 closed, assigned to creating-bubai

[2016-05-16 14:25] #83 closed, assigned to creating-bubai

[2016-05-16 14:28] bikash02 commented on #34
updated the code.
http://convergencemp.com/backoffice/coupon-add.php

[2016-05-16 14:32] bikash02 commented on #39
working on and need some time.

[2016-05-16 14:44] bikash02 commented on #84
updated the code.
kindly check and correct me if I'm wrong.

[2016-05-16 14:49] bikash02 commented on #84
Sorry the module was partially completed.After submitting the music files its redirect to payment page.But the page was functionally incomplete at this point of time.

[2016-05-16 20:09] camerontrimble commented on #78
On this table, make the "Quantity" a toggle that they can select how many they want to purchase. That way you can remove the "select" column.

Retail box should be: just the price - not the descriptions. I can imagine two ways:
1. We could have a small "Discount" icon appear when there is a discount price loaded in the system. We list only the discount price.
2. We list the retail price with a sla

[2016-05-16 20:13] #76 closed, assigned to bikash02

[2016-05-16 20:14] camerontrimble commented on #76
Looks GREAT!

[2016-05-16 20:14] #79 closed, assigned to bikash02

[2016-05-16 20:17] camerontrimble opened #85 "Remove this from page design - we no longer need it"
Remove Full Price and Discount Price above the table.

![screenshot 2016-05-16 16 15 40](https://cloud.githubusercontent.com/assets/15096099/15302581/a5a4b99a-1b81-11e6-99d7-54a90e414ac4.png)

[2016-05-16 20:21] camerontrimble opened #86 "Need to edit the user section"
![screenshot 2016-05-16 16 19 03](https://cloud.githubusercontent.com/assets/15096099/15302645/fc3eeda2-1b81-11e6-9603-fbeaa0f3f169.png)

Remove Followers, Sales, Member
Hide the layout button in top right corner
Update the "Member Since date" of remove it
Hide Tasks
Hide messages - people don't need to email each other through the system

[2016-05-16 20:27] camerontrimble opened #87 "Format boxes on the dashboard"
Style this box
![screenshot 2016-05-16 16 25 18](https://cloud.githubusercontent.com/assets/15096099/15302840/0685659c-1b83-11e6-8d9f-5a86a5fffe8b.png)

[2016-05-16 20:56] camerontrimble opened #88 "Add Preview Product fields for each product type"

[2016-05-16 21:15] #80 closed, assigned to i-puspita

[2016-05-16 21:17] #52 closed, assigned to creating-bubai

[2016-05-16 21:17] #77 closed, assigned to bikash02

[2016-05-16 21:18] #75 closed, assigned to bikash02

[2016-05-16 21:20] camerontrimble commented on #71
Based on conversation with Debdip and Debarati, we are going to use the Shopping Cart functionality with a static price of $30 for song submission.

[2016-05-16 21:20] #60 closed, assigned to creating-bubai

[2016-05-16 21:24] camerontrimble commented on #39
Subscribers =  members
User = customer who makes one time purchase but doesn't join as member

[2016-05-16 21:26] camerontrimble commented on #34
Add discount codes associated with Product categories and individual products

[2016-05-16 21:27] camerontrimble commented on #13
Modal view. You will need to add preview fields to the backend and we will upload files there.

[2016-05-17 08:52] Designer-cleonix commented on #76
Thank YOU...

[2016-05-17 08:53] bikash02 commented on #86
updated the dashboard.

[2016-05-17 08:57] bikash02 commented on #85
removed from the page.

[2016-05-17 09:01] bikash02 commented on #87
@creating-bubai  Please add placeholder image if the field is empty.

[2016-05-17 09:20] creating-bubai commented on #87
Updated

[2016-05-17 14:01] #85 closed, assigned to bikash02

[2016-05-17 15:18] camerontrimble commented on #84
Just had a meeting with the client - they want to move the $30 fee to the next phase of development. So, make the song submission process free with no "add to cart" function.

[2016-05-17 15:19] camerontrimble opened #89 "Remove the Quantity column from the product page"

[2016-05-17 15:20] camerontrimble opened #90 "Product List Page edits"
Change design once again. Remove the product price list under each image and instead list:

Song Title
Artist Name
Starting At (list the lowest price value)

[2016-05-17 15:21] camerontrimble opened #91 "When a product license expires, make the link to the product inactive"

[2016-05-17 15:22] camerontrimble opened #92 "Send out automated emails to customers when license is expiring"
Send one email 1 month before
Send one email 1 week before
Send one email 1 day before
Send email the day the license expires

[2016-05-17 15:23] camerontrimble opened #93 "Remove * on the Lead sheet fields on the front and back end"

[2016-05-17 15:24] camerontrimble opened #94 "On the Song Submit page, move the Lyric Sheet field to follow the Music File field"

[2016-05-17 15:27] camerontrimble opened #95 "If we don't have a lead sheet or a piano sheet (or any other product), those should not populate in the table on the front end."

[2016-05-17 15:28] camerontrimble opened #96 "Piano arrangement should not be required"
Look on front end and back end

[2016-05-17 15:29] camerontrimble opened #97 "In the License By dropdown box, add Convergence Music Project"

[2016-05-17 15:29] #86 closed, assigned to Designer-cleonix

[2016-05-17 15:30] camerontrimble opened #98 "Error on the user dashboard"
![screenshot 2016-05-17 10 31 54](https://cloud.githubusercontent.com/assets/15096099/15328405/c2599bfe-1c22-11e6-9745-93c0e19ce3df.png)

[2016-05-17 15:31] camerontrimble opened #99 "Error in blog section"
![screenshot 2016-05-17 10 42 44](https://cloud.githubusercontent.com/assets/15096099/15328430/d7d11fc0-1c22-11e6-82e0-acfcd74494a7.png)

[2016-05-17 15:32] camerontrimble commented on #87
Remove Browser Usage box completely

[2016-05-17 15:32] #87 closed, assigned to i-puspita

[2016-05-17 15:33] #78 closed, assigned to debajyotiGuha

[2016-05-17 15:33] camerontrimble commented on #71
Moved to next phase of development

[2016-05-17 15:33] #71 closed, assigned to bikash02

[2016-05-18 05:23] creating-bubai commented on #99
updated

[2016-05-18 07:31] bikash02 commented on #98
updated..

[2016-05-18 07:31] bikash02 commented on #96
updated

[2016-05-18 12:10] bikash02 commented on #93
Remove \* on the Lead sheet fields

[2016-05-18 12:24] bikash02 commented on #89
Removed the quantity column..

[2016-05-18 12:32] bikash02 commented on #94
updated

[2016-05-18 13:50] bikash02 commented on #97
updated License By dropdown box
You will find the data  under "Product" tab.

[2016-05-18 14:17] bikash02 commented on #84
updated the code.

[2016-05-18 15:04] #98 closed, assigned to Designer-cleonix

[2016-05-18 15:04] #99 closed, assigned to Designer-cleonix

[2016-05-18 15:04] #96 closed, assigned to Designer-cleonix

[2016-05-18 15:10] camerontrimble commented on #94
Should be in this order:

First Name
Last Name
Email
COVER PHOTO
Song Name
Music Audio File By
MUSIC AUDIO FILE (.MP3)
LYRIC SHEET (.PDF, .DOC, DOCX)
LEAD SHEET (.PDF, .DOC, DOCX)
LEAD SHEET BY
PIANO ARRANGEMENT
**POWERPOINT (.PPT, .PPTX)** (NOTE  TO TEXT CHANGES HERE)

[2016-05-18 15:11] camerontrimble opened #100 "Set up Bryan Sirchio as an admin user"

[2016-05-18 15:12] #93 closed, assigned to creating-bubai

[2016-05-18 15:13] camerontrimble opened #101 "Remove * on Piano Arrangement on backend"

[2016-05-18 15:15] #97 closed, assigned to Designer-cleonix

[2016-05-18 15:16] #89 closed, assigned to Designer-cleonix

[2016-05-18 15:19] bikash02 commented on #100
upgraded as admin user with the same credentials.

[2016-05-18 15:23] bikash02 commented on #101
updated

[2016-05-18 15:24] bikash02 commented on #88
updated the functionality.please check the below link.
http://convergencemp.com/product-details.php?post=20

[2016-05-18 15:25] bikash02 commented on #13
updated the issue.please check the below link
http://convergencemp.com/product-details.php?post=20

[2016-05-18 15:27] bikash02 commented on #13
We have added a limit on music file preview.User can play the music file only for 5seconds.

[2016-05-18 15:34] bikash02 commented on #94
Updated the display order.
Thank you.

[2016-05-19 01:56] #100 closed, assigned to bikash02

[2016-05-19 01:56] #101 closed, assigned to Designer-cleonix

[2016-05-19 01:56] #94 closed, assigned to Designer-cleonix

[2016-05-19 01:57] #84 closed, assigned to bikash02

[2016-05-19 01:58] camerontrimble opened #102 "On Add New Product page (backend) we need a "“member bundle price” field"

[2016-05-19 01:59] camerontrimble opened #103 "Backend - The lyric sheet should NOT be required"

[2016-05-19 01:59] camerontrimble opened #104 "Dashboard is taking too long to load"

[2016-05-19 02:00] camerontrimble opened #105 "Need a price field for the PPT file"

[2016-05-19 02:02] camerontrimble opened #106 "On product page, please change “retail” to “general public” in table"

[2016-05-19 02:04] camerontrimble commented on #13
Lets make the audio file play for 30 seconds.  The lead sheet and piano arrangement are shown in their entirety and this in effect gives these items away.  We should only show a half page or something like that for the preview.

[2016-05-19 02:07] camerontrimble opened #107 "Under "License View" remove the expiration date"

[2016-05-19 02:52] camerontrimble commented on #10
I will need help getting the gmail email accounts set up because the domain is pointing to the cleonix servers.
![screenshot 2016-05-18 22 51 19](https://cloud.githubusercontent.com/assets/15096099/15381172/29248ac8-1d4b-11e6-8116-29399b12cecf.png)

[2016-05-20 06:44] bikash02 commented on #107
updated

[2016-05-20 06:47] bikash02 commented on #106
updated

[2016-05-20 06:49] bikash02 commented on #103
updated

[2016-05-20 08:06] bikash02 commented on #105
updated

[2016-05-20 08:07] bikash02 commented on #102
updated

[2016-05-20 08:21] bikash02 commented on #91
Can you please guide me how to implement this?
I think we have to add a product expiry date for individual product in the backend and admin will check and input the date value and once it cross the date limit it will automatically inactive and remove the product from the product list.

I'm waiting for your response.

[2016-05-20 12:16] #102 closed, assigned to Designer-cleonix

[2016-05-20 12:16] #103 closed, assigned to Designer-cleonix

[2016-05-20 12:16] #105 closed, assigned to Designer-cleonix

[2016-05-20 12:16] #106 closed, assigned to Designer-cleonix

[2016-05-20 12:16] #107 closed, assigned to Designer-cleonix

[2016-05-20 12:17] camerontrimble commented on #90
Just to make sure I was clear, we need these boxes edited
![screenshot 2016-05-20 08 15 30](https://cloud.githubusercontent.com/assets/15096099/15427453/3a4dd426-1e63-11e6-8fc9-66c2ea47bdc5.png)

[2016-05-21 16:04] Designer-cleonix commented on #10
@debdiproy  Please have a look.

[2016-05-21 16:05] Designer-cleonix commented on #90
@debajyotiGuha  Please update me on this.

[2016-05-22 18:53] debdiproy commented on #104
Resolved

[2016-05-22 18:56] debdiproy commented on #10
Give me the access to this gmail account  **in email** and I will configure this.

[2016-05-22 19:22] #10 closed, assigned to camerontrimble

[2016-05-22 19:22] #104 closed, assigned to bikash02

[2016-05-22 19:25] #90 closed, assigned to debajyotiGuha

[2016-05-23 04:59] debajyotiGuha commented on #90
Madam,
Bubai solved the issue and today morning the issue has been closed.
On Saturday 21 May 2016 09:35 PM, Debarati Bose Roy wrote:

##

Thanks and Regards
Debajyoti Guha
debajyoti@cleonix.net

[2016-05-23 05:02] debajyotiGuha commented on #95
Updated.

[2016-05-23 14:13] bikash02 commented on #13
updated.

[2016-05-24 11:03] bikash02 commented on #34
Now you can add a coupon for product categories and as well as individual product.

[2016-05-24 11:58] bikash02 opened #108 "Please add "My Account" page and link it to the main menu"

[2016-05-24 12:01] bikash02 commented on #108
sidebar menu should be:
   1.Account Dashboard
   2.Account Information
   3.My Orders
   4.My Product Reviews
   5.My Downloadable Products

[2016-05-24 14:05] debajyotiGuha commented on #108
Sir,
Done
On Tuesday 24 May 2016 05:31 PM, Bikash Hutait wrote:

##

Thanks and Regards
Debajyoti Guha
debajyoti@cleonix.net

[2016-05-24 14:11] bikash02 commented on #95
Please leave your feedback.

[2016-05-24 14:11] bikash02 commented on #39
updated

[2016-05-28 17:33] camerontrimble opened #109 "Remove category column in View product page on backend"

[2016-05-28 17:34] camerontrimble opened #110 "Cart price is not pulling the correct pricing"
Test using the bundle price.

[2016-05-28 17:35] camerontrimble opened #111 "Add filters for rating and top 5 purchased products (best sellers) on the left filter on Find a Song page"

[2016-05-28 17:37] camerontrimble opened #112 "Create a way to remove individual files from a product"

[2016-05-28 18:37] camerontrimble opened #113 "Tried to add a new blog post and got this error"
![screenshot 2016-05-28 14 36 59](https://cloud.githubusercontent.com/assets/15096099/15629234/b915852c-24e1-11e6-97da-70c36fa3c89a.png)

[2016-05-28 18:41] camerontrimble opened #114 "Disable what isn't needed in this menu"
![screenshot 2016-05-28 14 40 19](https://cloud.githubusercontent.com/assets/15096099/15629257/3668f7ac-24e2-11e6-8237-20d31de6e7c2.png)

[2016-05-30 06:36] bikash02 commented on #108
Please complete the below point
5.My Downloadable Products

[2016-05-30 10:20] bikash02 commented on #114
removed the sections that is not required.

[2016-05-30 10:35] bikash02 commented on #113
resolved the issue.

[2016-05-30 10:46] bikash02 commented on #112
updated the issue.
http://convergencemp.com/backoffice/product_edit.php?id=58

[2016-05-30 10:56] bikash02 commented on #109
updated

[2016-05-30 13:52] #114 closed, assigned to Designer-cleonix

[2016-05-30 13:54] camerontrimble commented on #113
Still not working for me

[2016-05-30 13:56] camerontrimble commented on #113
I just figured it out. We need to allow " ' " in the Blog Titles. I was trying to type "It's Time for a New Song". When I changed it to "Its Time For a New Song" it went through.

[2016-05-30 13:58] camerontrimble commented on #113
When I go in to edit the post, the text doesn't appear in the editor. We also need to add a short description to the blog section so that some text appears on the front end of the site.

[2016-05-30 14:22] camerontrimble commented on #113
When I add text to the blog for the first time, it doesn't stick. When I go back in to edit it (re-paste it), It does stick. Please review.

[2016-05-30 15:26] camerontrimble opened #115 "Parse error: syntax error, unexpected ')' in /home/converge/public_html/backoffice/team_edit.php on line 20"
Getting this error when trying to edit the team member information

[2016-05-30 15:32] bikash02 commented on #113
Thank you @camerontrimble.
updated the code.

[2016-05-30 15:41] bikash02 commented on #115
The developer was working on this page and in that time you were trying to access the page.
Please check once again..

[2016-05-30 15:44] #115 closed, assigned to Designer-cleonix

[2016-05-30 15:49] bikash02 commented on #111
@ i-puspita Please update the sidebar design for rating and top 5 purchased

[2016-05-30 15:51] bikash02 commented on #110
@debajyotiGuha Please update the issue by tomorrow.

[2016-05-30 15:54] bikash02 commented on #108
Please add the "ORDER" module in the backoffice

[2016-05-31 06:46] i-puspita commented on #111
updated

[2016-05-31 09:00] bikash02 commented on #111
We have added the filters.Kindly check on find a Song page.

[2016-05-31 09:05] bikash02 commented on #108
@camerontrimble  Please check the modules "My Account"  in the frontend and "Orders" in the backend.Please tell me if you need more in this sections.

[2016-05-31 11:59] camerontrimble commented on #108
on http://convergencemp.com/user_profile_update.php, Add the fields - All should be OPTIONAL.

Address
Address (apt #, suite #, etc.)
City
State
Zip Code
Mobile Phone
Organization Name

[2016-05-31 14:39] #113 closed, assigned to bikash02

[2016-05-31 14:39] #112 closed, assigned to bikash02, Designer-cleonix

[2016-05-31 14:42] camerontrimble commented on #111
Looks great! Why is there a category list at the bottom? Feels like a repeat of what we have above.

[2016-05-31 14:42] #109 closed, assigned to bikash02, Designer-cleonix

[2016-05-31 14:43] #95 closed, assigned to debajyotiGuha

[2016-05-31 14:44] camerontrimble commented on #91
The expiration should be based on the date that the customer purchased the product. The actual product does not expire - just their access to the product.

[2016-05-31 14:44] #88 closed, assigned to bikash02

[2016-05-31 14:45] #34 closed, assigned to bikash02

[2016-05-31 14:45] #13 closed, assigned to bikash02

[2016-05-31 14:45] #39 closed, assigned to bikash02

[2016-05-31 15:02] camerontrimble opened #116 "Style the songs catalog"
Can you remove some of the white space?

![screenshot 2016-05-31 10 46 43](https://cloud.githubusercontent.com/assets/15096099/15679234/17d8f082-271f-11e6-9ec1-b5df9a65c806.png)

[2016-05-31 15:42] camerontrimble opened #117 "Specification tab here: http://convergencemp.com/backoffice/order-details.php"

[2016-05-31 15:50] camerontrimble opened #118 "Add pricing for lyric sheets on the add product page"

[2016-05-31 15:55] camerontrimble opened #119 "Preview music file not required on Add product page"

[2016-05-31 15:58] camerontrimble opened #120 "Lead sheet not appearing in front end of product details page"
Check ALL of the products - PPT, lead sheets, etc.

[2016-05-31 16:07] camerontrimble opened #121 "Placeholder in Music Submit box that says "Name" where they type their name"

[2016-06-01 08:08] i-puspita commented on #116
Songs catalog page style is updated. Please check the page.

[2016-06-01 11:44] bikash02 commented on #118
updated

[2016-06-01 11:46] bikash02 commented on #117
updated the issue

[2016-06-01 11:52] bikash02 commented on #120
updated

[2016-06-01 11:53] bikash02 commented on #119
updated

[2016-06-01 11:53] bikash02 commented on #121
updated the placeholder

[2016-06-01 11:57] bikash02 commented on #116
Removed the white space from the catalog page

[2016-06-01 12:01] bikash02 commented on #108
updated..

[2016-06-01 12:03] bikash02 commented on #110
@debdiproy We are waiting for your final feedback regarding the issue.

[2016-06-01 13:51] camerontrimble commented on #121
![screenshot 2016-06-01 09 50 13](https://cloud.githubusercontent.com/assets/15096099/15711953/4b2ba852-27de-11e6-9923-42bd1ac6bc54.png)

It needs to be by the white line where the curser is

[2016-06-01 13:53] #120 closed, assigned to Designer-cleonix

[2016-06-01 13:53] #119 closed, assigned to Designer-cleonix

[2016-06-01 13:54] #118 closed, assigned to Designer-cleonix

[2016-06-01 13:54] #116 closed, assigned to i-puspita, Designer-cleonix

[2016-06-01 13:54] #111 closed, assigned to i-puspita, bikash02, Designer-cleonix

[2016-06-01 13:55] #117 closed, assigned to Designer-cleonix

[2016-06-01 13:56] #108 closed, assigned to debajyotiGuha

[2016-06-01 13:58] camerontrimble commented on #110
Pricing is not correct. If the choose the bundle, it should just pull the single bundle price.

[2016-06-01 13:59] camerontrimble opened #122 "Having trouble submitting music through the front end form - please test"

[2016-06-02 15:31] camerontrimble opened #123 "Add category title to the top of the page when browsing by category"

[2016-06-02 15:40] camerontrimble opened #124 "Disable right click on audio files so that people can't download through the preview"

[2016-06-02 15:42] camerontrimble opened #125 "Increase mp3 preview to 55 sec"

[2016-06-02 15:43] camerontrimble opened #126 "Fade out the preview mp3 at the end of preview"

[2016-06-02 15:45] camerontrimble opened #127 "Change review section so that it we can reply to reviews"

[2016-06-02 15:47] #121 closed, assigned to Designer-cleonix

[2016-06-03 14:27] bikash02 commented on #110
updated the cart.Please check once again.

[2016-06-06 05:40] bikash02 commented on #125
Completed

[2016-06-06 05:42] bikash02 commented on #123
completed

[2016-06-06 13:23] debdiproy commented on #122
Bikash please test and retest this issue multiple time and then confirm.

[2016-06-06 13:32] camerontrimble commented on #123
It is pulling the song title rather than the category title

[2016-06-06 13:33] camerontrimble commented on #123
Oops - I clicked too fast. It is working!

[2016-06-06 13:33] #123 closed, assigned to bikash02, Designer-cleonix

[2016-06-06 13:33] #125 closed, assigned to bikash02, Designer-cleonix

[2016-06-06 13:34] #110 closed, assigned to bikash02, Designer-cleonix, debajyotiGuha

[2016-06-06 14:23] bikash02 commented on #127
Added the reply section

[2016-06-06 14:24] bikash02 commented on #124
updated

[2016-06-06 14:25] bikash02 commented on #126
updated the code.fade out the music after 45sec.

[2016-06-06 14:49] #127 closed, assigned to bikash02, Designer-cleonix

[2016-06-06 14:49] #124 closed, assigned to bikash02, Designer-cleonix

[2016-06-06 14:49] #126 closed, assigned to bikash02, Designer-cleonix

[2016-06-07 12:58] bikash02 commented on #122
I have checked the page and removed the unwanted script.
Now user can upload .wav & .ogg file extension as well.

[2016-06-07 13:22] bikash02 commented on #91
We have updated the issue.Once the license is expired, the product will not visible in the "My Account" page for the particular user or the customer.

[2016-06-07 13:28] bikash02 commented on #92
@debdiproy Please set up a crone job for the below file.
Here is the page
http://convergencemp.com/license-checker.php

[2016-06-09 18:02] Designer-cleonix commented on #92
@debdiproy  Please have a look.

[2016-06-10 19:57] #122 closed, assigned to bikash02, Designer-cleonix

[2016-07-28 15:05] camerontrimble opened #128 "What happened to this page? http://convergencemp.com/profile.php"

[2016-07-29 13:57] camerontrimble opened #129 "Song Loading Error - High Priority!"
I just tried to load a new song called "If We Don't Have Love."  The lead sheet I loaded did not show in the front end.  Please check into this.  I will be uploading many new songs in the next several days and I don't want this to happen each time.

[2016-07-29 13:59] camerontrimble opened #130 "Review section should be able to have SUB comments - responses to comments posted"

[2016-07-29 14:00] camerontrimble opened #131 "Make Name and email address required fields on the review section"

[2016-07-29 14:01] camerontrimble opened #132 "Automatic email generated when someone buys a membership"
Bryan is going to provide text

Email needs to have a custom promo code that allows free downloads

[2016-07-29 14:01] camerontrimble opened #133 "Limit a promo code to be used only a specific number of times"

[2016-07-29 14:02] camerontrimble opened #134 "Add a way for people to log in from shopping cart screen"

[2016-07-29 14:03] camerontrimble opened #135 "I want to be able to see how many specifically products we have sold"

[2016-07-29 14:03] camerontrimble opened #136 "Export function for order details page"

[2016-07-29 14:04] camerontrimble opened #137 "Remove login screen when trying to purchase an "early adopter Membership" - they should be able to buy without signing in"

[2016-07-29 14:04] camerontrimble commented on #137
http://convergencemp.com/eam.php

[2016-07-29 14:05] camerontrimble opened #138 "Relink this button so that text comes up rather than purchase options - We don't want people to buy at the moment"
![screen shot 2016-07-27 at 7 45 42 am](https://cloud.githubusercontent.com/assets/15096099/17174258/2b288b3a-53ce-11e6-8e05-13f325db7c16.png)

THIS TEXT IS ALREADY LOADED IN THE BACKEND:

CMP Annual Subscription Membership

Thanks for your interest in the CMP Annual Subscription Membership!

This subscription will not be available for purchase until December 1, 2016, and it will begin officially

[2016-07-29 15:08] camerontrimble commented on #135
For example, we want to produce a list of the people who have purchased memberships and export them.

[2016-07-29 19:27] #138 closed, assigned to Designer-cleonix

[2016-07-30 19:43] camerontrimble opened #139 "Email error"
I just received several new songs through our “Submit” tab.  I see them on the backoffice of the site fine, but I should be receiving an email message with the Mp3 and the lyric sheet attached and contact info of who sent the song.  I have not received that either on this email address or on the bryan@convergencemp.com  email.  Let’s please get this working properly sooner than later so I will kno

[2016-08-02 09:05] bikash02 commented on #132
Can you please tell me what exactly you need in this section?I just wondering how much products  they will able able to download and how much time they will get those free download.

Will it be fine if we'll create a custom promo code and added some products  in it and particular that products will be free downloaded when someone buy a membership.

[2016-08-02 09:12] bikash02 commented on #136
updated.
http://convergencemp.com/backoffice/order-details.php

[2016-08-02 09:14] bikash02 commented on #129
updated

[2016-08-02 09:15] bikash02 commented on #131
updated

[2016-08-02 14:09] bikash02 commented on #133
we have updated the promo  code and now you can set the limit from the backoffice.

[2016-08-02 14:17] bikash02 commented on #135
We have added the link to the menu "Product Sold Out"

[2016-08-02 14:18] bikash02 commented on #134
updated

[2016-08-04 09:36] bikash02 commented on #139
updated

[2016-08-04 09:39] bikash02 commented on #130
added the comments reply

[2016-08-04 09:50] bikash02 commented on #128
As per my knowledge someone delete the team members data.

[2016-08-04 10:00] bikash02 commented on #128
I apologize for this and in the future we will be more careful.We won't let that happen again.But our developer said that Its may be from your side.So please check the administrative account and delete if there were any unwanted accounts in the backoffice.

We have already cloned the website in our test server and from now we will test and debug in development server and once we will get approve w

[2016-08-04 13:33] #139 closed, assigned to debdiproy, Designer-cleonix

[2016-08-04 13:48] #136 closed, assigned to bikash02, Designer-cleonix

[2016-08-04 13:49] camerontrimble commented on #135
I need to be able to pull a report BY PRODUCTS, not orders. I want to see how many of a product have been sold, who bought the products and when. I want to be able to sort by product name, date, customer name/id.

[2016-08-04 13:51] camerontrimble opened #140 "The site is not displaying well on iPad or iPhone"

[2016-08-04 13:52] camerontrimble opened #141 "Add space between view cart and add to card"

[2016-08-04 14:12] #134 closed, assigned to bikash02, Designer-cleonix

[2016-08-04 14:14] camerontrimble commented on #137
Now you can't buy the Early adopter membership. When you click on the purchase button, it should add the membership for $149 to your cart.

[2016-08-04 14:17] #133 closed, assigned to bikash02, Designer-cleonix

[2016-08-04 14:17] #131 closed, assigned to bikash02, Designer-cleonix

[2016-08-04 14:20] #130 closed, assigned to bikash02, Designer-cleonix

[2016-08-04 14:21] #129 closed, assigned to bikash02, Designer-cleonix

[2016-08-04 14:21] #128 closed, assigned to bikash02, Designer-cleonix

[2016-08-04 14:21] camerontrimble commented on #92
Where are we on this?

[2016-08-04 14:24] camerontrimble opened #142 "Can't delete reply reviews from the backend"
![screen shot 2016-08-04 at 10 24 12 am](https://cloud.githubusercontent.com/assets/15096099/17405491/a88494c4-5a2d-11e6-92b2-92eeffe9e6d0.png)

[2016-08-04 14:26] camerontrimble opened #143 "Profile page not displaying individual profiles fully"
![screen shot 2016-08-04 at 10 25 46 am](https://cloud.githubusercontent.com/assets/15096099/17405542/e7db129c-5a2d-11e6-8ab2-cda8923953cf.png)

[2016-08-04 14:28] camerontrimble opened #144 "Delete comments on this page: http://convergencemp.com/blog-detail.php?post=MTk="

[2016-08-04 14:30] camerontrimble opened #145 "Change title to: Contact Us on the Contact page"
![screen shot 2016-08-04 at 10 29 08 am](https://cloud.githubusercontent.com/assets/15096099/17405665/6a7aa172-5a2e-11e6-8568-ed20f459bfc8.png)

[2016-08-04 14:42] camerontrimble opened #146 "Replace Convergence video with this link: https://www.youtube.com/watch?v=vRlyRot2UgE"
![screen shot 2016-08-04 at 10 42 08 am](https://cloud.githubusercontent.com/assets/15096099/17406098/232d33b4-5a30-11e6-86b1-3f80ba9b6ce7.png)

[2016-08-04 15:12] camerontrimble opened #147 "Change title to "Registered Users""
![screen shot 2016-08-04 at 11 10 41 am](https://cloud.githubusercontent.com/assets/15096099/17407163/4d074dba-5a34-11e6-9380-f70f00dc02c8.png)

[2016-08-04 15:13] camerontrimble opened #148 "Make this button "Subscribers""
Have it pull the number of people who have purchased the membership product.

![screen shot 2016-08-04 at 11 12 28 am](https://cloud.githubusercontent.com/assets/15096099/17407224/8019e7d0-5a34-11e6-94be-1159962a1070.png)

[2016-08-04 15:21] camerontrimble opened #149 "Format this page: http://convergencemp.com/eam.php"
Make this page pretty :)

The bullet points are not aligned.
Add some images to the page. (use image from this page: http://convergencemp.com/about.php)

[2016-08-04 18:01] camerontrimble opened #150 "Can't get an image to load for this product"
http://convergencemp.com/product-details.php?post=207

![ana hernandez and fran mckendree cover](https://cloud.githubusercontent.com/assets/15096099/17412673/f37b15d4-5a4b-11e6-9b3a-462d613d4805.jpg)

[2016-08-07 16:55] #150 closed, assigned to Designer-cleonix

[2016-08-07 16:55] camerontrimble commented on #149
We can't actually BUY a subscription from this page...We should be able to.

[2016-08-07 16:59] #148 closed, assigned to Designer-cleonix

[2016-08-07 16:59] #147 closed, assigned to Designer-cleonix

[2016-08-07 17:00] #146 closed, assigned to Designer-cleonix

[2016-08-07 17:02] #144 closed, assigned to Designer-cleonix, creating-bubai

[2016-08-07 17:02] #145 closed, assigned to Designer-cleonix

[2016-08-07 17:04] #142 closed, assigned to Designer-cleonix, creating-bubai

[2016-08-07 17:05] #141 closed, assigned to Designer-cleonix

[2016-08-08 14:26] camerontrimble opened #151 "Weird < in the menu"
![screen shot 2016-08-08 at 10 25 11 am](https://cloud.githubusercontent.com/assets/15096099/17483049/8182fe88-5d52-11e6-9b4c-bd2a681c1320.png)

[2016-08-08 17:28] Designer-cleonix commented on #151
@i-puspita  Please take care of this.

[2016-08-08 17:29] Designer-cleonix commented on #140
@i-puspita Solve this ASAP

[2016-08-09 05:04] i-puspita commented on #151
Updated.Please Check this.

[2016-08-09 14:09] i-puspita commented on #140
The following link( http://convergencemp.com/) is updated. Kindly check this & give us your feedback.

[2016-08-10 15:11] camerontrimble commented on #140
We now have some menu issues
![img_0036](https://cloud.githubusercontent.com/assets/15096099/17559170/2831aace-5eeb-11e6-8f14-0fe90aaf9ff5.PNG)

[2016-08-10 15:11] #151 closed, assigned to debdiproy, i-puspita, Designer-cleonix

[2016-08-10 15:17] camerontrimble opened #152 "Need to be able to BUY the membership when you click on the early Adopter button"
Right now it directs to this page (and it should NOT): http://convergencemp.com/subscription-service.php

![screen shot 2016-08-10 at 11 16 21 am](https://cloud.githubusercontent.com/assets/15096099/17559363/f9a524e6-5eeb-11e6-94d1-b5da20f0b9bf.png)

[2016-08-10 15:33] camerontrimble opened #153 "FIX THIS BUTTON"
Right now it directs to this page (and it should NOT): http://convergencemp.com/subscription-service.php

![screen shot 2016-08-10 at 11 16 21 am](https://cloud.githubusercontent.com/assets/15096099/17559363/f9a524e6-5eeb-11e6-94d1-b5da20f0b9bf.png)

[2016-08-10 15:34] #153 closed, assigned to Designer-cleonix

[2016-08-11 08:47] Designer-cleonix commented on #140
@i-puspita  RESOLVE IT ASAP.

[2016-08-11 14:12] debdiproy commented on #152
Completed

[2016-08-12 13:57] i-puspita commented on #140
updated

[2016-08-23 21:03] camerontrimble opened #154 "Review section: I can't seem to edit replies to comments"

[2016-08-24 08:41] debdiproy opened #155 "Under Product sold make sure you have the product name also"

[2016-08-24 08:42] debdiproy opened #156 "Make advanced integration of Paypal so that customers do not leave the site."

[2016-08-24 08:42] debdiproy opened #157 "Add sales tax to the total amount of the check out (Future Change)"

[2016-08-24 08:42] debdiproy opened #158 "After you login the menu links should be styled to look better."

[2016-08-24 08:43] debdiproy opened #159 "Add search product in the product listing page and rest of the pages."

[2016-08-24 08:44] debdiproy opened #160 "Make Cameron's image proper in the responsive image of home page."

[2016-08-24 08:44] debdiproy opened #161 "Silders do not have text in responsive view."

[2016-08-24 08:44] debdiproy opened #162 "Add click desk chat"

[2016-08-24 08:45] debdiproy opened #163 "No product should be selected automatically."

[2016-08-24 08:45] debdiproy opened #164 "Need a way for users to go back to catalog page after add to cart."

[2016-08-24 08:45] debdiproy opened #165 "Empty cart button is not working."

[2016-08-24 08:45] debdiproy opened #166 "Direct the user to cart page after adding EAM subscription"

[2016-08-24 08:46] debdiproy opened #167 "Add report sections"

[2016-08-24 08:46] debdiproy opened #168 "Check sending email all user functions (Eg: Registration, New song add.)"

[2016-08-24 08:46] debdiproy opened #169 "Make sure only EAM gets the bundle free songs."

[2016-08-24 08:47] debdiproy opened #170 "create account"
test@convergencemp.com    pass bryan1234

[2016-08-24 08:47] debdiproy opened #171 "Featured artists image should have a overlay name"

[2016-08-24 08:47] debdiproy opened #172 "Under video write tag tile: Lets Roll by Mark Miller"

[2016-08-24 12:21] i-puspita commented on #161
updated

[2016-08-25 05:37] i-puspita commented on #160
updated

[2016-08-25 07:14] i-puspita commented on #172
updated

[2016-08-25 07:18] i-puspita commented on #171
The Overlay section is updated.Please upload featured artists image in 1200X1200

[2016-08-26 13:54] camerontrimble commented on #172
Song title needs to say "Let Justice Roll!" by Mark Miller

[2016-08-26 13:57] camerontrimble opened #173 "Security warning that will drive customers away"
![screen shot 2016-08-26 at 9 55 45 am](https://cloud.githubusercontent.com/assets/15096099/18007772/6eb061ae-6b73-11e6-9c0c-7a023edabefb.png)

[2016-08-26 13:58] camerontrimble opened #174 "License is misspelled"
![screen shot 2016-08-26 at 9 57 28 am](https://cloud.githubusercontent.com/assets/15096099/18007810/910e8cee-6b73-11e6-8c47-df1ca08af645.png)

[2016-08-26 13:59] camerontrimble opened #175 "Add a download button for the products on this page"
![screen shot 2016-08-26 at 9 58 33 am](https://cloud.githubusercontent.com/assets/15096099/18007867/bf9aa46c-6b73-11e6-9e57-6e5c294863b4.png)

[2016-08-26 14:54] bikash02 commented on #173
Currently the website don't have any active SSL.You are getting the security warning due to returning https(paypal) to http(cmp) website.

[2016-08-26 14:56] camerontrimble commented on #173
Please buy one, install it and bill me

[2016-08-26 15:04] bikash02 commented on #172
updated

[2016-08-26 15:07] bikash02 commented on #171
Updated the section.
You can update it from the backend as well.Here is the path
Website Frontend --> Home --> Edit --> Featured artist of the month image tag title

[2016-08-26 15:15] bikash02 commented on #170
Account has been created and here is the login credential
User Name: bryan_cmp
Email: test@convergencemp.com
Pass: Please click on the forget password to regenerate your password.
Note: For security reason we didn't send you the password over the github.

[2016-08-26 15:17] bikash02 commented on #159
Updated the design as well as functionality.

[2016-08-26 15:18] bikash02 commented on #155
Updated

[2016-08-26 15:29] bikash02 commented on #169
Updated

[2016-08-26 15:32] bikash02 commented on #168
Tested and It's working.

[2016-08-26 15:44] bikash02 commented on #166
Updated

[2016-08-26 15:48] bikash02 commented on #164
Updated

[2016-08-26 15:48] bikash02 commented on #163
Updated

[2016-08-26 15:51] bikash02 commented on #143
Updated.Please check once again.

[2016-08-26 15:52] bikash02 commented on #149
updated

[2016-08-26 20:03] debdiproy opened #176 "Add download button in the my_order section"
http://convergencemp.com/my-order.php?order_id=CMP23866627&id=162

[2016-08-26 20:09] debdiproy opened #177 "First Banner Home page"
Replace Learn more with Become an Early Adopter Member.

[2016-08-26 20:11] debdiproy opened #178 "Provision for adding Video in the main banner home page"

[2016-08-26 20:13] debdiproy opened #179 "Change color of cart at the menu to red when it has holdings"

[2016-08-26 20:39] #171 closed, assigned to i-puspita, bikash02, Designer-cleonix, creating-bubai

[2016-08-26 20:39] #172 closed, assigned to i-puspita, bikash02, Designer-cleonix, creating-bubai

[2016-08-29 08:06] i-puspita commented on #158
Please provide us a reference

[2016-08-29 09:46] bikash02 commented on #177
Updated

[2016-08-29 12:57] bikash02 commented on #179
Updated

[2016-08-29 12:58] bikash02 commented on #176
updated

[2016-08-29 13:18] bikash02 commented on #174
updated

[2016-08-29 14:38] bikash02 commented on #165
@creating-bubai  Please check the browser dependency issue.Its only working for chrome.

[2016-08-30 07:17] creating-bubai commented on #165
updated please check @bikash02

[2016-08-30 07:52] bikash02 commented on #165
I have tested and its working now.

[2016-08-30 18:02] #165 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-08-30 18:06] camerontrimble commented on #176
We need to be able to download the products from this page, not just the order summary.

[2016-08-30 18:07] #174 closed, assigned to debdiproy, Designer-cleonix

[2016-08-30 18:09] camerontrimble opened #180 "Compress image files on homepage"

[2016-08-30 18:12] #169 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-08-30 18:15] #166 closed, assigned to i-puspita, bikash02, creating-bubai

[2016-08-30 18:16] #159 closed, assigned to i-puspita, bikash02, Designer-cleonix, creating-bubai

[2016-08-30 18:16] #161 closed, assigned to i-puspita, Designer-cleonix

[2016-08-30 18:16] #164 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-08-30 18:20] #163 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-08-30 18:21] #160 closed, assigned to i-puspita, Designer-cleonix

[2016-08-30 18:22] #155 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-08-30 18:22] #152 closed, assigned to Designer-cleonix, creating-bubai

[2016-08-30 18:22] #149 closed, assigned to Designer-cleonix, creating-bubai

[2016-08-30 18:23] #140 closed, assigned to debdiproy, i-puspita, Designer-cleonix

[2016-08-30 18:23] #137 closed, assigned to Designer-cleonix, creating-bubai

[2016-08-30 18:23] #143 closed, assigned to Designer-cleonix, creating-bubai

[2016-08-30 18:32] camerontrimble opened #181 "Add one more field to the coupon section that says "Number of products in cart" so that we limit the number of products that can be downloaded"

[2016-08-30 18:59] camerontrimble commented on #162
<script type='text/javascript'>
var _glc =_glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyDgsSBXVzZXJzGMKV4wcM');
var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' :
'http://my.clickdesk.com/clickdesk-ui/browser/');
var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
var glcspt = document.createElement('script'

[2016-08-30 18:59] camerontrimble commented on #162
Emailed to Debdip

[2016-08-30 20:13] camerontrimble opened #182 "Email text for people who buy a membership"
[Welcome to your Convergence Music Project Early Adopter Membership.docx](https://github.com/ConvergenceUS/Convergence-Music-Project/files/445866/Welcome.to.your.Convergence.Music.Project.Early.Adopter.Membership.docx)

[2016-08-31 07:44] bikash02 commented on #180
@i-puspita All the home page images should be compressed by lossless image compression techniques for better optimization and increase the website speed.

[2016-08-31 07:45] bikash02 commented on #162
Added the click desk chat.

[2016-08-31 09:39] bikash02 commented on #154
I'm little bit confuse,did you want to edit all the reviews/comments for all users or the user can edit their own comments only?

[2016-08-31 14:10] i-puspita commented on #180
Presently Working on it. Resolve within tomorrow.

[2016-08-31 14:14] creating-bubai commented on #176
Updated Please check this @bikash02

[2016-08-31 14:30] creating-bubai commented on #182
Updated. Please check @bikash02

[2016-08-31 15:42] #179 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-08-31 15:42] #177 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-08-31 15:42] #175 closed, assigned to debdiproy, Designer-cleonix

[2016-08-31 15:43] #176 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-08-31 15:43] #162 closed, assigned to nobody

[2016-08-31 15:43] #168 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-08-31 15:44] #170 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-08-31 15:45] camerontrimble commented on #154
Both would be great

[2016-08-31 15:46] #91 closed, assigned to Designer-cleonix

[2016-08-31 15:46] #182 closed, assigned to debdiproy, Designer-cleonix, creating-bubai

[2016-08-31 15:47] #132 closed, assigned to bikash02, Designer-cleonix

[2016-08-31 15:50] camerontrimble commented on #135
We still can't run a report based on products. It seems like the "Order Details" and "Products Sold Out" are showing the same information. I want to be able to see how many times we sold a specific song, or membership, or lead sheet.

[2016-09-01 07:02] i-puspita commented on #180
updated

[2016-09-01 07:10] creating-bubai commented on #181
Updated. Please check @bikash02

[2016-09-01 10:43] bikash02 commented on #157
What should be the tax amount?Is it a fixed value or percentage of the total checkout amount?
I think it should be 3.30% of the check out amount as paypal deduct 3.30% of the payment amount.
Waiting for your response..

[2016-09-01 15:06] #180 closed, assigned to debdiproy, i-puspita, Designer-cleonix

[2016-09-01 15:06] camerontrimble commented on #173
Is this installed?

[2016-09-01 15:12] camerontrimble commented on #157
Let's not worry about this feature at this point. I just want to be sure we don't forget it.

[2016-09-01 15:14] camerontrimble commented on #158
![screen shot 2016-09-01 at 11 13 33 am](https://cloud.githubusercontent.com/assets/15096099/18172845/2d0c3e28-7035-11e6-995e-e2fdeb501315.png)

[2016-09-02 12:58] debdiproy opened #183 "New buttons on the homepage 1st slider next to the EAM BUTTON"
Find Songs
Submit Your Songs

[2016-09-03 09:04] bikash02 commented on #181
updated

[2016-09-03 09:53] i-puspita commented on #183
updated

[2016-09-03 12:36] bikash02 commented on #173
SSL activated.

[2016-09-03 14:39] bikash02 commented on #154
updated

[2016-09-03 14:43] bikash02 commented on #135
Please check the "Reports" module.
https://www.convergencemp.com/backoffice/product-report.php

Working on the membership report and will update you soon.

[2016-09-05 08:19] bikash02 commented on #92
@debdiproy I have activated the crone job for "license-checker.php" file.Please check once everything is correct or not, specially the command.

[2016-09-05 10:18] bikash02 opened #184 "Please add counter button to sidebar menu in the backoffice"
Add button counter to the below menus.
1.Orders  | display as "Complete" data count.
2. Comments | display as "Pending" data count.
3. Reviews & ratings  |  display as "Pending" data count.

[2016-09-05 11:00] bikash02 opened #185 "Membership expire date"

[2016-09-05 11:10] creating-bubai commented on #184
Updated. Please check @bikash02

[2016-09-05 11:51] bikash02 commented on #185
Is there any renewal option for membership user or it's one time membership?Can the EAM user renew membership after it expires?Please keep me update.

[2016-09-05 11:55] bikash02 commented on #184
Please update the circle alignment and make it looks better.

[2016-09-05 12:30] i-puspita commented on #184
updated

[2016-09-05 13:45] bikash02 commented on #184
@camerontrimble  please check the backoffice sidebar menu.We have updated it to the wordpress structure like order & comments.

[2016-09-05 14:15] bikash02 commented on #178
The slider doesn't support any video banner.If you really want the same feature, in that case we have to replace with the new slider..

[2016-09-05 14:16] bikash02 commented on #135
Please check the report section

[2016-09-07 00:14] camerontrimble commented on #185
They should have the option to renew. The EAM will need to be billed at a higher rate in the second year. We can manually enter a different price if that makes life easier. We DON'T want them to have to sign up again.

[2016-09-07 00:17] camerontrimble commented on #184
NICELY DONE!!!!!!! This looks great!

[2016-09-07 00:17] #184 closed, assigned to i-puspita, creating-bubai

[2016-09-07 00:17] #183 closed, assigned to i-puspita, bikash02, Designer-cleonix, creating-bubai

[2016-09-07 00:17] #181 closed, assigned to debdiproy, Designer-cleonix, creating-bubai, debajyotiGuha

[2016-09-07 00:18] camerontrimble commented on #178
I will check with Bryan about this. Don't worry about it for now.

[2016-09-07 00:18] #178 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-09-07 00:18] camerontrimble commented on #167
Brilliant job on this! Bravo.

[2016-09-07 00:18] #167 closed, assigned to bikash02

[2016-09-07 00:18] #173 closed, assigned to debdiproy, Designer-cleonix

[2016-09-07 00:19] #154 closed, assigned to Designer-cleonix

[2016-09-07 00:19] #135 closed, assigned to bikash02, Designer-cleonix

[2016-09-08 02:20] camerontrimble opened #186 "The banner on the homepage is gone"

[2016-09-08 09:13] creating-bubai commented on #186
Updated. Please check @bikash02

[2016-09-08 09:30] bikash02 commented on #186
Sorry! somehow removed the slider js from the code.We have fixed it now.

[2016-09-08 09:32] bikash02 commented on #156
@creating-bubai  Please give an update on it.

[2016-09-08 16:41] camerontrimble opened #187 "Urgent issue!!!! Regarding product viewing"
Trying to see the Piano Arrangement previews on the Convergence Music Project and haven't hit one that will show me anything. A first-page PDF might be more helpful as there is no instruction other than to purchase before seeing it. I need to know if my people can play the arrangement before I'll purchase.

[2016-09-08 16:49] camerontrimble opened #188 "Responsive issues on subscription buttons"
![image](https://cloud.githubusercontent.com/assets/15096099/18358405/e4512386-75c2-11e6-956b-e1d8b6be6d41.png)

[2016-09-08 16:59] camerontrimble opened #189 "Number of times a coupon can be used is not in the coupon section"
We need to be able to limit the umber of times a coupon can be used
We also need to tie a coupon to a product and product category

[2016-09-09 10:19] creating-bubai commented on #187
Updated. Please check @bikash02

[2016-09-09 11:16] bikash02 commented on #189
No. Of limits added to the cart coupon.You can create a coupon for a product and product category as well.

[2016-09-09 11:17] bikash02 opened #190 "Please check the full website in mobile view"

[2016-09-09 13:35] i-puspita commented on #188
updated

[2016-09-12 01:02] camerontrimble opened #191 "People are having trouble purchasing the early adopter membership"
When you click on the "Become an early adopter member" from the banner, it makes you register as a user. Then you get stuck in multiple screens of adding it to your cart. Then it gets stuck just processing and not going through.

[2016-09-12 01:03] camerontrimble commented on #191
I think it should just take them straight to the cart so that they can check out immediately. This is the most important product they can purchase. Let's make it as simple as possible.

[2016-09-12 05:15] creating-bubai commented on #191
updated. Please check @bikash02

[2016-09-13 00:41] #189 closed, assigned to nobody

[2016-09-13 00:42] #188 closed, assigned to i-puspita

[2016-09-13 00:42] #187 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-09-13 00:42] #186 closed, assigned to bikash02

[2016-09-13 00:42] #158 closed, assigned to i-puspita, Designer-cleonix

[2016-09-13 12:30] bikash02 opened #192 "Please update the email template"
Make the email templates more professional & better look.

[2016-09-14 08:25] bikash02 commented on #191
We have updated the page design as well.Here is the link
https://www.convergencemp.com/eam-new.php

After getting confirmation from your end we will make it live.

[2016-09-14 09:51] camerontrimble commented on #191
Make it live. Thanks.

[2016-09-14 09:51] camerontrimble opened #193 "You can't access the cart from the mobile menu"

[2016-09-14 10:22] bikash02 commented on #192
@camerontrimble Please check the email template that we have designed.
https://www.convergencemp.com/email-template.html

Let me know if you want to add something else.

[2016-09-14 10:24] bikash02 commented on #192
"#" tag will be replaced by dynamically as per email subject and body.

[2016-09-14 10:27] camerontrimble commented on #192
Looks great!

[2016-09-14 10:32] bikash02 commented on #185
What will be the amount for 2nd year?Is it same amount for all eam user or you want to set different rate for individual user.

[2016-09-14 10:33] camerontrimble commented on #185
$249

[2016-09-14 10:37] bikash02 commented on #185
okay thanks.

[2016-09-14 13:02] bikash02 commented on #185
updated.

[2016-09-14 13:03] bikash02 commented on #191
updated.
https://www.convergencemp.com/eam.php

[2016-09-14 13:35] bikash02 commented on #185
updated.

[2016-09-14 13:36] #185 closed, assigned to camerontrimble

[2016-09-14 15:12] camerontrimble opened #194 "Bug in the blog posting module"
I just tried to post a blog. I added the text into the editor and pressed submit. The post appeared but was missing the body that I posted in the editor. The title, image and category showed up. But to body content.

Then I edited the post, repasting the text into the body editor. This time it went through.

Please test.

[2016-09-14 15:53] BryanCMP opened #195 "Add text to automatic email sent when someone submits a song"
In addition to sending the form that we are already sending song submitters, add the following text first:

Thanks for submitting your song to be part of the CMP catalog.  Our review team will listen soon and get back to you within 2 weeks.

[2016-09-19 16:05] BryanCMP opened #196 "Sales Marked pending rather than completed in backoffice"
Sales several days old in the back office have not been marked completed.  Why is this and please fix if there is a problem.

[2016-09-19 16:14] BryanCMP opened #197 "Bryan not receiving automatic email with attachments when songs are submitted"
be sure to send auto email to bryan@convergencemp.com and attach the audio file and lyric sheet

[2016-09-19 16:57] BryanCMP opened #198 "Add column with name, date, and email of person who submits song to back office"
I would like to be able to look at the product description list on the back office and know the who has submitted a song, the date, and their email so that I can easily identify the songs and reach the songwriter on email.

[2016-09-20 14:18] BryanCMP opened #199 "Search box on home page does not work for Artist Name"
We need to include the artist's name in the search functions on the home page.  Or, we need to identify how the search works.  For example, "Search by topic"  or "Search by Song title"

[2016-09-20 16:36] BryanCMP opened #200 "Change product name of Early Adopter Membership in backoffice"
The product name for the Early Adopter Membership in the backoffice comes up as "Churches 399 members or less."  It should say Early Adopter Membership.  When we start the annual membership on Jan. 1, 2017 then there will be the two different size memberships.

[2016-09-21 16:57] BryanCMP opened #201 "Make it possible to choose a custom name for a promo code"
Debdip and I discussed this.  Now the codes are random numbers and letters that will be hard for people to remember.  We want to be able to make up our own name to use so that it is easy for people to remember and use the code.

[2016-09-21 17:01] BryanCMP opened #202 "Create package so that all of one artists or songwriters songs can be downloaded at once"
This came up in response to Brian McLaren's song package that he put together to go with his book tour.  He has submitted 20 songs, and would like to be able to have persons purchase his entire collection at once along with some written notes.  Debdip and I discussed this and he said we should create a way for people to be able to download any artist or songwriter's entire collection on the site.

[2016-09-21 18:56] BryanCMP opened #203 "Early Adopter members login info not working"
A person who has attempted to purchase the Early Adopter Membership emailed me and said that when they attempt to use the login info they were sent the site keeps sending them back to purchase the Early Adopter membership which they say they have already purchased.

[2016-09-26 01:10] camerontrimble opened #204 "Error alert"
![img_4606](https://cloud.githubusercontent.com/assets/15096099/18819760/7eb69326-8364-11e6-90bc-2307c0771f5a.PNG)

[2016-09-26 07:30] Designer-cleonix commented on #204
@creating-bubai  UPDATE IT.

[2016-09-26 08:44] #190 closed, assigned to i-puspita, Designer-cleonix, creating-bubai

[2016-09-26 10:57] creating-bubai commented on #194
Updated at test server. Please check @debdiproy and @bikash02
Test server Link:     http://cleonix.biz/convergencemp/backoffice/post-add.php

[2016-09-26 11:25] creating-bubai commented on #198
Updated. Please check @debdiproy @bikash02 .
Test server link:  http://cleonix.biz/convergencemp/backoffice/product-view.php

[2016-09-26 11:41] creating-bubai commented on #199
Updated.Please check @bikash02 @debdiproy .
Search using product name or product category.
Test server link:
http://cleonix.biz/convergencemp
http://cleonix.biz/convergencemp/product-listing.php
http://cleonix.biz/convergencemp/product-search.php
http://cleonix.biz/convergencemp/menu.php

[2016-09-26 11:44] creating-bubai commented on #200
Updated in front-end and back-end. Please check @debdiproy @bikash02 .

Test server Link:
http://cleonix.biz/convergencemp/subscribe.php
http://cleonix.biz/convergencemp/backoffice/order-details.php

[2016-09-26 11:53] creating-bubai commented on #201
Updated. Please check @debdiproy @bikash02 .

Test server link:
http://cleonix.biz/convergencemp/backoffice/coupon-add.php
http://cleonix.biz/convergencemp/backoffice/coupon-edit.php
Note: You must enter 8 digit into coupon code input section (maximum and minimum text length of this field is 8)

[2016-09-26 11:57] creating-bubai commented on #204
Updated. Please check in your mobile @debdiproy @bikash02 @Designer-cleonix

Test sever link:  http://cleonix.biz/convergencemp/product-listing.php

[2016-09-26 13:17] creating-bubai commented on #203
Updated. Please check @debdiproy @bikash02 .

Test server link:
http://cleonix.biz/convergencemp/eam.php
http://cleonix.biz/convergencemp/cart.php

[2016-09-26 13:59] debdiproy commented on #193
Debarati look into this urgently

[2016-09-26 14:01] debdiproy commented on #202
Need to discuss this with you @camerontrimble

[2016-09-27 19:56] camerontrimble commented on #203
Approved. Please push to live.

[2016-09-27 19:57] camerontrimble commented on #199
Push to live

[2016-09-28 07:17] bikash02 commented on #204
Uploaded the file to live server.

[2016-09-28 07:17] bikash02 commented on #203
updated to live server.

[2016-09-28 07:20] bikash02 commented on #199
uploaded the files to live server.

[2016-09-28 07:44] bikash02 commented on #201
uploaded the files to live

[2016-09-28 07:53] bikash02 commented on #200
updated to live server.

[2016-09-28 08:05] bikash02 commented on #198
updated to live server

[2016-09-28 08:18] bikash02 commented on #197
Can I check your email settings like incoming and outgoing server details from the server?

[2016-09-28 08:37] bikash02 commented on #197
I have gone through the issue and tested as ctpl@convergencemp.com.Its working for outgoing server but having some issues in the incoming server.Not receiving any emails.I think we should contact with hosting provider for getting the technical solution.

[2016-09-28 09:56] bikash02 commented on #194
updated to live server

[2016-09-28 09:59] bikash02 commented on #191
updated to live server

[2016-09-28 10:04] #204 closed, assigned to debdiproy, bikash02, Designer-cleonix, creating-bubai

[2016-09-28 10:05] #203 closed, assigned to debdiproy

[2016-09-28 10:05] #201 closed, assigned to debdiproy

[2016-09-28 10:06] #200 closed, assigned to debdiproy

[2016-09-28 10:06] #199 closed, assigned to debdiproy

[2016-09-28 10:06] #198 closed, assigned to debdiproy

[2016-09-28 10:08] #194 closed, assigned to bikash02, Designer-cleonix

[2016-09-28 10:08] camerontrimble commented on #193
What is the update on this?

[2016-09-28 10:09] #192 closed, assigned to creating-bubai, debajyotiGuha

[2016-09-28 10:09] #191 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-09-28 10:27] bikash02 commented on #196
It's happen due to the old data.Should I remove the old data that we have added for testing purpose?
The status "pending" coming from paypal gateway as a response due to not pay or invalid card..

[2016-10-04 08:18] bikash02 opened #205 "Please remove the plain text password and apply sha1 algorithm for better security"

[2016-10-04 08:21] bikash02 commented on #205
Please do the necessary changes on mysql db  and as well as the code in frontend and backend where password is used.

[2016-10-04 08:54] i-puspita commented on #193
updated

[2016-10-06 03:10] BryanCMP opened #206 "Sales in Backoffice are still marked pending"
Almost all of the attempted sales are marked pending and not completed.  You have suggested this is a problem with PayPal not completing the process somehow.  Please resolve this immediately!

[2016-10-06 03:13] BryanCMP opened #207 "Person not able to log in after creating account"
A woman named Carol attempted to purchase the Early Adopter Membership on Sept. 21.  She, along with many others, has still not been able to complete her purchase.  I saw her at an event today.  She attempted to create an account, but then was not able to login after creating it.

[2016-10-06 07:36] bikash02 commented on #207
I have gone through the system including database.She was try to purchase EAM using "Guest Checkout" and It was on 2016-09-21 14:53:59 but she didn't complete the payment process.I think she "cancel & return" from the paypal.Please ask her to check email inbox.The system have generated a password and send her to registered email or She can reset  password using "forgot password" link.

[2016-10-06 10:13] Designer-cleonix commented on #206
@bikash02 Please do the needful.

[2016-10-06 12:41] BryanCMP commented on #207
Thanks for your quick response! She did receive a receipt from PayPal
saying that she was charged for the product so her payment went all the way
through but she did not receive the products or the follow up email from
us. She created an account yesterday. If a problem occurs when someone
tries to purchase the early adopter membership as a guest, then we need to
make it clear to people on the site

[2016-10-06 18:48] bikash02 commented on #207
We try to find out a better solution and get back to you very soon.

[2016-10-13 07:49] creating-bubai commented on #195
Updated.
Please check @bikash02

[2016-10-13 10:01] bikash02 commented on #195
push to live server.

[2016-10-13 10:08] bikash02 commented on #92
I have tested and its working.

[2016-10-13 10:10] bikash02 commented on #193
push to live server

[2016-10-14 08:43] bikash02 commented on #207
Please check the attached file and confirm that they are all real users and subscribe EAM.
If you confirm and send back the file we will update the system accordingly.

[EAM-order.csv.zip](https://github.com/ConvergenceUS/Convergence-Music-Project/files/529028/EAM-order.csv.zip)

We already rectified the code and in the future it will not happen again.Also mention that if you have received $149 fr

[2016-10-14 08:45] bikash02 commented on #206
@BryanCMP  Please response to #207 issue and we'll take care the rest.

[2016-10-14 08:54] bikash02 commented on #197
I have contacted with the hosting provider and they said that the email is mapped to google app and the incoming & outgoing port is okay.So please inform me if you are getting the same error.

[2016-10-14 08:55] bikash02 commented on #197
Please check your spam inbox as well.

[2016-10-15 13:04] camerontrimble commented on #197
I am receiving the emails but Bryan is not. Let's make sure that his email is spelled correctly.

[2016-10-15 13:07] camerontrimble commented on #207
Here is the list that compares who actually bought the EAM versus who the system says did.
[EAM-order Compared to Paypal purchases.xlsx](https://github.com/ConvergenceUS/Convergence-Music-Project/files/531138/EAM-order.Compared.to.Paypal.purchases.xlsx)

[2016-10-15 13:08] camerontrimble commented on #202
Debdip, let's talk about this on Monday.

[2016-10-15 13:09] #196 closed, assigned to debdiproy

[2016-10-15 13:10] camerontrimble commented on #195
Was this pushed to live? If so, please close @bikash02

[2016-10-15 13:10] camerontrimble commented on #193
If pushed to live, please close @bikash02

[2016-10-15 13:17] camerontrimble commented on #193
Actually, I just tested this. It isn't live yet. Note that we posted this issue 21 days ago. That is unacceptable.

[2016-10-17 07:41] bikash02 commented on #195
updated

[2016-10-17 07:42] #195 closed, assigned to creating-bubai, debajyotiGuha

[2016-10-17 09:12] Designer-cleonix commented on #193
@bikash02 @debdiproy Please solve this ASAP.

[2016-10-17 09:43] bikash02 commented on #207
We have updated the system as per attached file.
https://www.convergencemp.com/backoffice/membership-report.php

**\* People that purchased that are not on this list or system.
1.First Congregational Church
2.Jeffrey Davis
3.Jill Eston
We didn't find any record in the system for the users.So kindly tell them to register in the system and we'll add them to the subscriber list into the system.

[2016-10-18 07:43] bikash02 commented on #193
@camerontrimble please check the attached file.We have reached the cart page to mobile view and it was on the live server.
![screenshot_20161017-133331](https://cloud.githubusercontent.com/assets/16361011/19468486/31b81cde-9534-11e6-85b1-e7a42f442978.jpg)

If you send me a screen shot it will be helpful.

[2016-10-18 09:33] creating-bubai commented on #205
Password field  updated plain text to sha1.
Please check @bikash02 @debdiproy

[2016-10-18 10:21] camerontrimble commented on #193
I still can't see it. I'm using safari on my iPhone. Also note that the logo is too small on the mobile view. ![](http://i.imgur.com/g8F4nZ3.jpg)

[2016-10-18 10:21] camerontrimble commented on #193
I should also note that I have four products in my cart...so I should see the cart button.

[2016-10-18 10:22] bikash02 commented on #205
Thanks

[2016-10-18 10:22] #205 closed, assigned to creating-bubai

[2016-10-18 10:25] bikash02 commented on #193
@i-puspita please check and update the mobile menu asap.

[2016-10-18 10:36] bikash02 commented on #156
@camerontrimble Please provide us the below credentials for advance paypal integration {Using Credit Card}.
1.API login ID
2.API password
3.API signature

Do you really want to integrate stripe in the system? I will integrate this on the development server using a test or developer account if you need.

[2016-10-18 10:39] bikash02 commented on #156
If it is possible then please send those three info for **live and sandbox**  as well.

[2016-10-19 11:29] bikash02 commented on #197
@debdiproy Please check the issue and assist me how to get this resolve.
We have tested in the development server and we got the emails when someone submit the song.

[2016-10-19 14:35] bikash02 commented on #156
We have completed the advance paypal integration.
http://cleonix.biz/convergencemp/product-details.php?post=291
Waiting for your approval to push in the live server.

Note: We already tested from our ends.

[2016-10-19 14:49] camerontrimble commented on #156
The dropdown menu with the states listed has weird fields in it. Some of these are not US States...

![screen shot 2016-10-19 at 10 48 20 am](https://cloud.githubusercontent.com/assets/15096099/19523838/bd26114e-95e9-11e6-8191-ed4fcb8bf564.png)

[2016-10-19 14:56] camerontrimble commented on #156
There are a LOT of clicks that you have to make to get to the page you can finally make a payment. Is there any way to shorten that process?

You have to click Proceed from the Cart page, then Check Out, then register as a user, then click proceed again, then press check out AGAIN, then and then you FINALLY get to the payment page.

That is just too much.

[2016-10-20 11:32] bikash02 commented on #156
@creating-bubai @debajyotiGuha @i-puspita  Please fix the issue by today.
Cut down the steps to get the payment page more easier and make it simple.If you need anything else from me don't be hesitate to ask.

[2016-10-20 13:58] Designer-cleonix commented on #156
Design section is updated

[2016-10-20 13:59] i-puspita commented on #156
design section is updated

[2016-10-20 15:54] debajyotiGuha commented on #156
I have moved on the development phase and just very close to finish.I will complete it by tomorrow.There are lots of code we have to put in a single page like magento or woocommerce checkout page.In the cart page only products added in cart will be visable and then in the checkout page all the functionalities after place a order will be performed. ie, “register or login” , then “review order” and

[2016-10-20 16:09] debajyotiGuha commented on #156
The dropdown menu with the states list corrected.

[2016-10-21 15:02] bikash02 commented on #156
@camerontrimble  please check the layout and functionalities.Its now in the development server.Once you approve we'll migrate the files to live server.
http://cleonix.biz/convergencemp/product-listing.php

[2016-10-21 15:04] bikash02 commented on #206
The issue was resolved.

[2016-10-21 15:26] bikash02 commented on #193
@debdiproy Please talk to @camerontrimble regarding the issue.Here is a scroller in the mobile menu but the user not aware of it.So they faced the problem to access the cart page when they were trying.
http://cleonix.biz/convergencemp/product-listing.php

[2016-10-26 21:40] #206 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-10-26 21:44] camerontrimble commented on #193
Hide "About" and "Submit" from the mobile view

[2016-10-27 00:26] camerontrimble opened #208 "Format this email after a donation goes through"
![screen shot 2016-10-26 at 8 25 08 pm](https://cloud.githubusercontent.com/assets/15096099/19749846/6c5a4600-9bba-11e6-923d-cbebbf69b9ee.png)

[2016-10-27 00:27] camerontrimble opened #209 "Tried to add an image to the "Sidebar Information About Your Project" section and it was stripped out"
It doesn't save correctly

[2016-10-27 00:31] camerontrimble opened #210 "Donation went through without a state being selected...it should be a required field"

[2016-10-27 00:33] #210 closed, assigned to bikash02, Designer-cleonix

[2016-10-27 00:34] #209 closed, assigned to bikash02, Designer-cleonix

[2016-10-27 00:35] #208 closed, assigned to bikash02, Designer-cleonix

[2016-10-27 00:36] camerontrimble commented on #156
Approved and pushed to live

[2016-10-27 00:36] #156 closed, assigned to bikash02, Designer-cleonix, creating-bubai

[2016-10-27 00:37] camerontrimble commented on #92
Push to live

[2016-10-27 07:52] bikash02 commented on #193
@i-puspita please update the mobile menu

[2016-10-27 08:02] bikash02 commented on #92
Uploaded the file to live server.
Email receive in support@convergencemp.com..

[2016-10-27 09:01] i-puspita commented on #193
Mobile Menu is updated in http://cleonix.biz/convergencemp/
Please check

[2016-10-31 11:59] BryanCMP opened #211 "Fix spacing problem in some categories on front end of site"
The third category on the "Browse Categories" list, "Ethnic/Cultural Tradition" has a spacing problem between the words Cultural and Tradtion.  The same problem exists with the last category, "Written Word Liturgical Resources"   These extra spaces were included when the category was created in the back office.

[2016-10-31 12:07] BryanCMP opened #212 "Add text to make check out process more clear"
In the purchase process, after the buyer first goes to the shopping cart and selects the items to buy, then buyer is then sent back to the find songs page.  The buyer then has to find the small shopping cart icon on the upper right corner to continue the check out process.  Many people do not see this and tell me they have been sent back to the find songs page and can't continue.  Please put the t

[2016-10-31 12:08] BryanCMP opened #213 "Search bars not working"
I just tried to find a song by name and the search process is not working at all

[2016-10-31 12:10] BryanCMP opened #214 "Make free download possible without needing to enter Credit Card information"
We have a free download of materials called "We Stand With Love."  At this point people cannot get this without having to enter their credit card information.  We want to make if very easy and quick for people to download free items like this without having to enter financial information.

[2016-10-31 12:22] BryanCMP opened #215 "Screen on Product View does not go completely to the right side"
![screen shot 2016-10-31 at 7 19 34 am](https://cloud.githubusercontent.com/assets/22161192/19853988/8934e55e-9f3a-11e6-9414-394ffc8a78c6.png)

I explained this to Debdip and he said to send a screen shot of the issue.  On my MAC especially (the problem exists on my PC also but to a lesser degree) I can't go all the way to the right side of the page to select the options that enable me to get back

[2016-10-31 12:28] BryanCMP opened #216 "Add card to promote upcoming event on home page (URGENT!)"
I will send the card and the links to the registration for an upcoming event on email and Skype to Debdip.  It is urgent that this be added to our site (where the OPEN retreat event that has already happened currently is seen) before tomorrow (Tuesday, Nov. 1), because promotion for this event will begin Nov. 1 with an email campaign and we want people to be able to register.

[2016-10-31 20:03] Designer-cleonix commented on #213
@bikash02 Please resolve this ASAP.

[2016-10-31 20:04] Designer-cleonix commented on #214
@bikash02 Do the needful.

[2016-10-31 20:06] Designer-cleonix commented on #215
@bikash02 Please consult with Debdip, and if there is a responsive issue , please let me know.

[2016-10-31 20:07] Designer-cleonix commented on #216
@debdiproy @bikash02 Do the needful ASAP.

[2016-11-01 17:39] BryanCMP opened #217 "Fix date and time column in the Order view in Backoffice"
Please fix this so that the orders can be viewed with the most recent order listed first and then in descending order according to date.

[2016-11-01 17:42] BryanCMP opened #218 "Remove banner for OPEN event and replace with Convergence Music, Worship, and Liturgy"
Just a reminder that we need to have the graphic card that was sent for the Feb. 7-10, 2017 event on the Home Page instead of the OPEN event which already took place.  This new card should link to information about the event and to registration options.  All of this information was emailed to Debdip on 10/31/16.

[2016-11-02 08:19] bikash02 commented on #215
@creating-bubai Please put "uploaded by" and "email ID" in a same column and check the layout on MAC

[2016-11-02 08:22] bikash02 commented on #213
@creating-bubai Please check the issue.

[2016-11-02 12:18] bikash02 commented on #212
@i-puspita @debajyotiGuha please add a popup notification when someone click on "add to cart"

[2016-11-02 14:12] i-puspita commented on #212
Design section is updated

[2016-11-02 14:49] debajyotiGuha commented on #217
Updated in  http://cleonix.biz/convergencemp/backoffice/order-details.php. Please check once. Only after approval it will changed in live server.

[2016-11-02 14:49] debajyotiGuha commented on #214
Updated in  http://cleonix.biz/convergencemp/payment.php. Please check once. Only after approval it will changed in live server.
Use promo code: Oa6wo6Nl to have 100% discount.

[2016-11-02 14:51] debajyotiGuha commented on #213
Updated in  http://cleonix.biz/convergencemp/product-search.php. Please check once. Only after approval it will changed in live server.

[2016-11-02 14:58] creating-bubai commented on #215
Updated.
Please check @bikash02 .
http://cleonix.biz/convergencemp/backoffice/product-view.php

[2016-11-02 15:13] bikash02 commented on #218
updated the banner.
https://www.convergencemp.com/index.php

[2016-11-02 21:25] #218 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-02 21:26] camerontrimble commented on #217
Push to live server and close issue

[2016-11-02 21:28] #216 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-02 21:29] camerontrimble commented on #215
Push to live server and close the issue

[2016-11-02 21:33] camerontrimble commented on #214
In my test, when I did the guest checkout and pressed submit, the screen went to a blank white screen. I hit refresh and it then took me to back to the payment page where I would have to start over.

[2016-11-02 21:34] camerontrimble commented on #213
Tested. Push to live and close the issue.

[2016-11-02 21:37] camerontrimble commented on #212
I don't see this on either the live site or the test site.

[2016-11-02 21:38] camerontrimble commented on #211
Make everything left justified

[2016-11-02 21:41] camerontrimble commented on #193
Push to live and close this issue

[2016-11-02 21:41] #193 closed, assigned to i-puspita, Designer-cleonix

[2016-11-03 02:48] camerontrimble commented on #214
I just tested again on the live server: https://convergencemp.com/payment.php. This is not working at all...which means that people can't make purchases on our site. Guys - that is absolutely unacceptable! You cannot push changes to the live server and not test them. These kinds of errors cost us customers and hurts our reputation.

[2016-11-03 05:35] i-puspita commented on #211
Updated in test site. Please check.

[2016-11-03 07:31] bikash02 commented on #217
uploaded to live server.

[2016-11-03 07:31] #217 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-03 07:33] bikash02 commented on #213
uploaded to live server..

[2016-11-03 07:33] #213 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-03 07:37] bikash02 commented on #215
updated

[2016-11-03 07:37] #215 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-03 07:44] bikash02 opened #219 "Please update the query or add pagination to stop loading all the products in view page when someone try to access the page"

[2016-11-03 07:46] bikash02 commented on #219
@debajyotiGuha & @creating-bubai  please check and resole the issue asap.
path: backoffice/product-view.php

[2016-11-03 07:54] bikash02 commented on #212
@debajyotiGuha where are you on this issue?Please give me an update.

[2016-11-03 07:57] bikash02 commented on #211
@i-puspita please check the subcategories list under the main categories.Still having some formatting issues.Try to minimize it asap.

[2016-11-03 10:38] i-puspita commented on #211
Updated. Please check.

[2016-11-03 11:25] bikash02 commented on #214
I have checked the issue and @debajyotiGuha you did a mistake over here.The user can't access directly to the payment page.Generally they will reach the page after adding something to the cart and proceed to checkout.So please stop accessing the payment page directly.

[2016-11-03 11:31] Designer-cleonix commented on #214
@debajyotiGuha  Be more conscious and focused when you are working. This is not acceptable in future.

[2016-11-03 12:12] creating-bubai commented on #219
Product view page pagination added.
Please check product view page
Test server link:  http://cleonix.biz/convergencemp/backoffice/product-view.php

[2016-11-03 13:51] creating-bubai commented on #212
Updated.
Please check @bikash02
Test server link:  http://cleonix.biz/convergencemp/product-listing.php

[2016-11-03 13:53] creating-bubai commented on #211
Updated.
Please check @bikash02
Test server link: http://cleonix.biz/convergencemp/product-listing.php
                          http://cleonix.biz/convergencemp/product-search.php

[2016-11-03 14:57] bikash02 commented on #219
Please create a column "Product" and merge "product image and title" into it.
display the data according to the date.

[2016-11-03 15:07] bikash02 commented on #211
@camerontrimble please check the above pages and leave your comment.
push to live server?

[2016-11-03 15:18] camerontrimble commented on #211
Approved. Push to live

[2016-11-03 15:21] bikash02 commented on #212
@BryanCMP @camerontrimble we have updated and please try to add the product to the cart.
If anything else you update please let me know.

[2016-11-03 15:23] bikash02 commented on #211
uploaded to live server.

[2016-11-03 15:31] creating-bubai commented on #219
Updated.
Please check @bikash02
Test server link: http://cleonix.biz/convergencemp/backoffice/product-view.php

[2016-11-03 15:36] bikash02 commented on #219
@i-puspita please format the column product.

[2016-11-03 15:37] camerontrimble commented on #212
Approved. Push to live server. @BryanCMP jump in if you have any issues.

[2016-11-03 15:38] camerontrimble opened #220 "We need a way to edit the quantity of a product from the shopping cart"

[2016-11-03 15:44] camerontrimble opened #221 "When a customer abandons their cart, we should still remember what products were there and keep it in the cart when they are logged in"

[2016-11-03 15:49] bikash02 commented on #214
@camerontrimble please check the link http://cleonix.biz/convergencemp/product-listing.php
and use promo code: Oa6wo6Nl to get 100% discount.
Note: If you selected the product license price it will not get any effect so please select " no license option" and apply the promo code and proceed to make payment.

[2016-11-03 15:49] camerontrimble opened #222 "Formating issues on the purchase confirmation email"
Remove space between last paragraph and Bryan's name
Fix ' issues in his signature
Align paragraphs
Add a link in the text "log back into the site" that directs them back to the site.

![screen shot 2016-11-03 at 11 46 55 am](https://cloud.githubusercontent.com/assets/15096099/19973333/4af92fd8-a1bb-11e6-9a37-664a3c7b1364.png)

[2016-11-03 15:49] bikash02 commented on #214
Waiting for your approval to make it live.

[2016-11-03 15:50] camerontrimble commented on #214
Approved. Push updates to live server

[2016-11-03 15:51] #214 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-03 15:51] #211 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-03 15:54] bikash02 commented on #212
Uploaded to live server.

[2016-11-03 15:54] #212 closed, assigned to debdiproy, i-puspita, bikash02, Designer-cleonix, debajyotiGuha

[2016-11-03 17:22] camerontrimble opened #223 "Product not going into the cart"
When I try to add a product from this page, it doesn't go into the cart: https://convergencemp.com/product-details.php?post=279&action=membership&value=productadd

[2016-11-03 22:09] camerontrimble commented on #223
On further testing, when I load a product that requires payment, I am am THEN not able to put the free products into my cart. I can add the free products fine as long as I don't have a paid product in the cart.

[2016-11-03 22:46] BryanCMP opened #224 "Send a CC email copy to Bryan with the automatic email sent to customer after they purchase Early Adopter Membership"
Please copy Bryan (bryan@convergencemp.com) on the automatic email message sent to people when they buy the Early Adopter Membership so that Bryan will know they have received this.

[2016-11-03 22:50] BryanCMP opened #225 "Create Archive tab for downloads on Dashboard for downloads older than 30 days"
We don't want the dashboards to get too cluttered, especially for Early Adopter Members who will have 15 songs there initially and then the 5 additional bundles they purchase.  Debdip suggested creating an archive file and a note that explains that songs on the dashboard will be sent automatically to the archive tab after 30 days.

This is not an urgent issue and can wait if other things are more

[2016-11-04 00:23] camerontrimble commented on #223
Apologies. Issues with my browser. Resolved.

[2016-11-04 00:23] #223 closed, assigned to bikash02, Designer-cleonix

[2016-11-04 05:37] i-puspita commented on #219
Updated.Please Check.

[2016-11-04 07:22] i-puspita commented on #222
updated

[2016-11-04 08:47] debdiproy commented on #221
For this we need to alter the Database structure. Infact it will be good if we can have a call on this.

[2016-11-04 08:49] debdiproy commented on #220
Need to discuss, for example if we edit the quantity of a song then what will happen to the license.

[2016-11-04 08:52] creating-bubai commented on #222
Updated.
Please check @bikash02 .
Use promo code: Oa6wo6Nl to have 100% discount and please select " no license option".
Test Server Link: http://cleonix.biz/convergencemp/product-listing.php

[2016-11-04 08:58] creating-bubai commented on #224
Updated.
Please check @bikash02
Test server link:  http://cleonix.biz/convergencemp/eam.php
CC Mail Id for test server bikash@cleonix.com
For testing use promo code: SPE16CMP for 100% discount innto subscribe page
Link:  http://cleonix.biz/convergencemp/subscribe.php

[2016-11-04 09:24] bikash02 commented on #219
@i-puspita please check the attached file
![screenshot-cleonix biz 2016-11-04 14-52-26](https://cloud.githubusercontent.com/assets/16361011/20000628/72146c7a-a29e-11e6-81ba-8dd4a8bb60c2.png)
Format the email

[2016-11-04 09:49] creating-bubai commented on #224
2nd cc mail id for test server bubai@cleonix.net

[2016-11-04 11:05] i-puspita commented on #219
Updated.Please Check.

[2016-11-04 13:45] creating-bubai commented on #225
Updated.
Plese check @bikash02 @debdiproy
Test server link:  http://cleonix.biz/convergencemp/archive.php
After 30 days of purchase downloadables product goes My Downloadables to Archive

[2016-11-04 14:42] bikash02 commented on #225
@BryanCMP @camerontrimble please check the new module.We have already checked and its working.
Waiting for your approval to push the file in live server.

[2016-11-04 15:04] bikash02 commented on #224
Please check the page  http://cleonix.biz/convergencemp/eam.php
A copy will send to bryan@convergencemp.com & bsirch@sirchio.com

Waiting for your approval to push in the live.

[2016-11-04 15:08] bikash02 commented on #222
@camerontrimble please check in the test server and let me know your feedback.
Once we get the approval we'll make it live.

[2016-11-04 15:10] bikash02 commented on #219
@camerontrimble Please check the page and waiting for your approval.
http://cleonix.biz/convergencemp/backoffice/product-view.php

[2016-11-04 15:16] camerontrimble commented on #225
Approved. Push to live

[2016-11-04 15:16] #225 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-04 15:16] camerontrimble commented on #224
Approved. Push to live

[2016-11-04 15:16] #224 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-04 15:19] camerontrimble commented on #222
Approved. Push to live

[2016-11-04 15:19] camerontrimble commented on #221
Please put this into the development timeline.

[2016-11-04 15:20] camerontrimble commented on #220
Let's make the license an attribute feature. Please discuss this concept with @debdiproy

[2016-11-04 15:22] camerontrimble commented on #219
Approved. Push to live server

[2016-11-04 16:00] bikash02 commented on #222
uploaded to live server.

[2016-11-04 16:06] bikash02 commented on #219
uploaded to live server.

[2016-11-04 16:07] #219 closed, assigned to debdiproy, camerontrimble, creating-bubai, debajyotiGuha

[2016-11-04 16:07] #222 closed, assigned to bikash02, Designer-cleonix

[2016-11-07 17:53] rikalively opened #226 "Promo codes are not working"
I've tried two different discount codes, I get the same message that they are invalid.
<img width="717" alt="screen shot 2016-11-07 at 12 51 46 pm" src="https://cloud.githubusercontent.com/assets/23104131/20069081/173cc50c-a4e9-11e6-96d2-d9a68604a81d.png">

[2016-11-07 18:31] bikash02 commented on #226
where you testing development or production server?

[2016-11-07 18:33] bikash02 commented on #226
@creating-bubai Please check the promo code and give me an update.

[2016-11-07 18:40] rikalively commented on #226
@bikash02 I wanted to make sure everything downloaded right and that I could access all the files.

[2016-11-08 05:27] creating-bubai commented on #226
Promo code oqkwJgSt limit given 0 thats why not working.Now promo code oqkwJgSt limit updated into 100.
Please check once again in test server.
http://cleonix.biz/convergencemp/product-listing.php

[2016-11-08 13:52] rikalively commented on #226
I do not have a valid login for the test server.
I tried on the live website and the promo code does not work.

[2016-11-08 13:56] creating-bubai commented on #226
Updated.
Please check once again in live server.

[2016-11-08 14:25] rikalively commented on #226
The promo code reduces the price to a negative number so it won't let me checkout.

<img width="740" alt="screen shot 2016-11-08 at 9 24 34 am" src="https://cloud.githubusercontent.com/assets/23104131/20102740/324fb7d0-a595-11e6-9608-de7d5b43fc78.png">

<img width="756" alt="screen shot 2016-11-08 at 9 22 23 am" src="https://cloud.githubusercontent.com/assets/23104131/20102697/07b88df8-a595-11e6-8

[2016-11-08 14:57] creating-bubai commented on #226
Can you please check once again in live server and tell me if anything wrong it will be updated tomorrow.

[2016-11-08 16:39] rikalively commented on #226
The promo code is working! Thank you.

[2016-11-08 16:39] #226 closed, assigned to creating-bubai

[2016-11-09 14:40] rikalively opened #227 "Cannot download audio file"
When I click on the download button, I get sent to a page where I can listen to the song - but I cannot actually download it.
<img width="687" alt="screen shot 2016-11-09 at 9 40 19 am" src="https://cloud.githubusercontent.com/assets/23104131/20141911/98ff72ec-a660-11e6-8417-ac5f18dc63f6.png">
<img width="1440" alt="screen shot 2016-11-09 at 9 39 33 am" src="https://cloud.githubusercontent.com/ass

[2016-11-10 05:49] creating-bubai commented on #227
Test server all page download button working.
Test Server Link:  http://cleonix.biz/convergencemp/bundle-music-download.php?ref=MTM0
Can you please give me the page link?

[2016-11-10 12:54] Designer-cleonix commented on #220
@bikash02 please finish this issue ASAP.

[2016-11-10 12:55] Designer-cleonix commented on #197
@bikash02 please update the issue here.

[2016-11-10 12:57] Designer-cleonix commented on #202
@bikash02 please update the issue here.

[2016-11-10 14:45] rikalively commented on #227
I do not have login credentials to the test server. Here is the link to my download page https://www.convergencemp.com/music-download.php?ref=Mjc0

[2016-11-10 14:48] bikash02 commented on #227
I have checked the same link in live server and its working for both chrome & firefox.It might be the issue in Safary browser.So please check your browser version and if required then please upgrade the version or install the latest version.

[2016-11-10 14:49] bikash02 commented on #227
Please let me know if you are facing the problem only in safari

[2016-11-10 14:51] bikash02 commented on #197
@camerontrimble please confirm if Mr. Bryan still having the same issue.

[2016-11-10 14:57] bikash02 commented on #202
Start working on development server and will update you soon.

[2016-11-10 15:13] rikalively commented on #227
It is an issue with safari - but I have updated and I still cannot download.

[2016-11-14 15:43] rikalively commented on #227
Have we been able to find a way to download on safari?

[2016-11-16 11:44] Designer-cleonix commented on #221
@bikash02 is it in development timeline ?

[2016-11-16 11:44] Designer-cleonix commented on #220
@bikash02 what is the progress ?

[2016-11-16 11:45] Designer-cleonix commented on #202
@bikash02 please give an update.

[2016-11-16 11:48] BryanCMP commented on #202
This particular task can be a phase two issue and us not urgent now. It is
much more important to make sure that the products on the site can be
purchased without problems.

On Wed, Nov 16, 2016 at 5:45 AM Debarati Bose Roy notifications@github.com
wrote:

[2016-11-16 11:48] bikash02 commented on #227
I was tried my level best and added some manual code and its not working in safari.Please allow me for one day more if will find a way.Thank you!!

[2016-11-16 12:43] bikash02 commented on #221
Sorry for the delay!
We are trying our best and hope you'll get it resolve before on Friday.We were developing the site in custom solutions rather than using a framework.We have to reconfigure the custom shopping cart and hardcoded on it.

@creating-bubai @debajyotiGuha Please update the issue before on Friday.

[2016-11-16 12:48] bikash02 commented on #202
Hope you will get this done by this week.

[2016-11-17 02:19] rikalively commented on #227
Let me know when you want me to try again @bikash02
Thank you!

[2016-11-17 09:23] bikash02 opened #228 "Please store the transaction failure reason into the system"

[2016-11-17 09:33] bikash02 commented on #228
change the payment status "Pending" to "Failed" and display the failure reason when someone hover on it just like a tooltip.

[2016-11-17 14:23] bikash02 commented on #227
Finally I resolved the issue.Please check the link.

[2016-11-17 14:30] bikash02 commented on #228
@camerontrimble @BryanCMP we have updated the failure reason in the system.Please hover on "Failed" and you'll get the transaction error message .
https://www.convergencemp.com/backoffice/order-details.php

[2016-11-17 14:41] bikash02 commented on #220
@camerontrimble @debdiproy This is a custom shopping cart solution and we can't add the license as an attribute feature of a product.I have checked the code and It will take too much time to reconfigure the whole system.Either we have to skip or build up the cart system from the scratch..

[2016-11-17 14:45] bikash02 commented on #221
@creating-bubai please migrate the code from your remote pc to development server.
Thank you!!

[2016-11-17 15:44] rikalively commented on #227
It will let me download but all I'm getting is a blank file. There is no audio file.

[2016-11-18 08:28] bikash02 commented on #227
@rikalively @debdiproy Please make a skype call to get it resolve.
I have tested in safari it's working for me.

[2016-11-18 11:29] debdiproy commented on #227
@rikalively  I have already tested it using my mac and safari and this is getting downloaded for sure can you flush your browser cache and retest it. Thanks

[2016-11-18 13:56] #220 closed, assigned to camerontrimble, bikash02, Designer-cleonix

[2016-11-18 15:03] creating-bubai commented on #221
It will be updated tomorrow.

[2016-11-18 15:14] rikalively commented on #227
I am able to download it but it's not a file you can open. It's just a blank file. I am unable to Skype today because I am at my other job - sorry.
<img width="610" alt="screen shot 2016-11-18 at 10 12 41 am" src="https://cloud.githubusercontent.com/assets/23104131/20434829/aeec57a0-ad77-11e6-9f62-64df8f951afc.png">

[2016-11-18 16:54] rikalively opened #229 "Not able to purchase early adopter membership"
I just got a message that a church is having an issue with purchasing the early adopter membership. This is the message they sent me:

Ebenezer UCC in Sheboygan WI registered On October 19th to be an Early Adopter Member. This shows up in our account with you as a pending order pending payment.. This is order CMP04204550. When I entered the information for payment, the screen accepted my credit ca

[2016-11-19 08:54] creating-bubai commented on #229
You should purchase again Early Adopter Membership.

[2016-11-19 12:06] creating-bubai commented on #221
Updated.
Please check @bikash02 @debdiproy
Link:      http://cleonix.biz/convergencemp/product-listing.php

[2016-11-19 14:32] rikalively commented on #229
I will tell him to purchase the membership again. What was the problem and is it fixed?

[2016-11-19 17:10] amyolrick commented on #229
I am trying now to go in and purchase an Early Adopter Membership myself to test the system. As I try to checkout as a guest I am unable to edit the password field. I get a password error message and then all the other fields are inaccessible--they cannot be clicked. I will re-try this purchase by starting this process again, but please look into what is going on here.

![screen shot 2016-11-19 at

[2016-11-21 06:09] creating-bubai commented on #229
Updated.
Can you please check once again at test server and once you'll approve we'll migrate the file to live server.
http://cleonix.biz/convergencemp/product-listing.php

[2016-11-21 08:07] bikash02 commented on #221
@camerontrimble @BryanCMP Please check in development server and Once you'll approve we'll migrate the file to live server.
http://cleonix.biz/convergencemp/product-listing.php

[2016-11-22 16:47] rikalively opened #230 "Early Adopter No Music"
We are still having issues with the Early Adopter Membership. Bryan just got this report from another client:

Hi Bryan,

I just subscribed (on behalf of Galileo Church) to be a CMP Early Adopter. When I logged into my account to download I got the message "There is no free music to download. Click here to subscribe early adopter membership." Just wanted to let you know that there seems to still b

[2016-11-22 17:07] rikalively opened #231 "Text issues in automated message"
The automated email that users receive after purchasing an early adopter membership has some text issues. Note the strange looking words with symbols. Bryan is thinking things like quotation marks or apostrophes are causing this.
<img width="1038" alt="screen shot 2016-11-22 at 12 05 01 pm" src="https://cloud.githubusercontent.com/assets/23104131/20533647/44e60760-b0ac-11e6-9380-79f0ab76556f.png">

[2016-11-23 07:01] bikash02 commented on #230
I will check the system data and get back to you soon with update.

[2016-11-23 07:20] bikash02 commented on #231
Please convert unknown character to html

[2016-11-23 07:26] bikash02 commented on #230
It will be very helpful if you provide me the username or email id for that account.

[2016-11-23 07:45] bikash02 commented on #231
@rikalively updated the email templates.

[2016-11-23 08:06] bikash02 opened #232 "Please add subscriber list and link it to "Member" sidebar menu in the backoffice."

[2016-11-23 09:07] creating-bubai commented on #232
Updated.
Please check @bikash02
http://cleonix.biz/convergencemp/backoffice/subscriber-view.php

[2016-11-23 09:59] bikash02 commented on #229
uploaded to live server.

[2016-11-23 10:07] bikash02 commented on #232
thanks

[2016-11-23 10:07] #232 closed, assigned to creating-bubai

[2016-11-23 10:12] #228 closed, assigned to debdiproy, camerontrimble, creating-bubai, BryanCMP

[2016-11-23 16:24] amyolrick commented on #230
Paul Demer is the person reporting the problem, and his email is pdemer11@gmail.com

[2016-11-23 17:22] rikalively commented on #230
Check  pauldemermusic@gmail.com
That's the email he used to create the account

[2016-11-24 12:41] bikash02 commented on #230
Please tell him to log into the account and he will be able to get the music now.

[2016-11-24 12:46] bikash02 opened #233 "Enable re-order option in the system when a transaction was failed!!"

[2016-11-24 12:48] bikash02 commented on #233
@creating-bubai @debajyotiGuha Please make a way in the system that a customer can retry the order if the transaction was failed.

[2016-11-24 13:00] bikash02 commented on #231
@rikalively any update?

[2016-11-24 13:28] creating-bubai commented on #233
Customer can re order his payment at my order page pending order section and payment failure page.
Please check this section at test server @bikash02 @debdiproy @amyolrick .

Link:     http://cleonix.biz/convergencemp/my-order.php

[2016-11-25 10:25] bikash02 commented on #233
@camerontrimble @BryanCMP @amyolrick @debdiproy Waiting for your approval to push it live server.

[2016-11-25 15:30] rikalively commented on #231
I haven't heard any news of the issue occurring. I don't have access to those emails but if Bryan has the issue again I'll let you all know.

[2016-11-25 15:30] #231 closed, assigned to creating-bubai

[2016-11-25 16:30] rikalively commented on #230
This was his message back to me: I just tried to download the music files and they all seem to be in some kind of text file format - not an audio file...

I was also having this issue with not being able to download music. How are we resolving this?

[2016-11-25 18:52] rikalively opened #234 "Text formatted incorrectly in emails"
@bikash02
Bryan just emailed me. It looks like this is still an issue.
<img width="1041" alt="screen shot 2016-11-25 at 1 46 39 pm" src="https://cloud.githubusercontent.com/assets/23104131/20633586/693688b2-b316-11e6-8278-df78b4e23e95.png">

[2016-11-25 19:57] debdiproy commented on #230
@rikalively I have resolved the issue and I am able to download the song in Firefox, Chrome and Safari I even tested it in a Mac. LI checked using Mr Paul account as well.

[2016-11-25 20:00] debdiproy commented on #227
@rikalively I have resolved the issue and able to download the song both in Windows and Mac using Safari, Chrome and Firefox.

[2016-11-28 07:56] bikash02 commented on #234
@creating-bubai " &apos " doesn't get recognized on outlook.
I suggest that this gets changed to "&#8217" which is the equivalent and works across all mail clients.

[2016-11-28 19:39] Designer-cleonix commented on #221
@rikalively @amyolrick  Please check this feature and let us know so that we can make it live

[2016-11-29 05:27] creating-bubai commented on #234
Updated.
@bikash02 please check at test server .
http://cleonix.biz/convergencemp/eam.php

[2016-11-30 08:51] bikash02 commented on #234
@rikalively Can I push it to live server?

[2016-12-02 16:24] rikalively commented on #221
This feature is working! Thank you!

[2016-12-02 16:29] #221 closed, assigned to camerontrimble, bikash02, Designer-cleonix, debajyotiGuha

[2016-12-02 16:31] rikalively commented on #234
Looks good. Go ahead @bikash02

[2016-12-02 16:35] #230 closed, assigned to nobody

[2016-12-06 13:55] bikash02 commented on #234
uploaded to live server.

[2016-12-08 01:08] #227 closed, assigned to nobody

[2016-12-08 01:10] #229 closed, assigned to nobody

[2016-12-15 07:25] #234 closed, assigned to creating-bubai

[2016-12-19 18:15] rikalively opened #235 "EAM Code does not work"
The code CEAM2016 for early adopter members to download free music is not working. I just tried using the code and this is the issue I received
<img width="673" alt="screen shot 2016-12-19 at 1 13 20 pm" src="https://cloud.githubusercontent.com/assets/23104131/21323818/2b81e2d4-c5ed-11e6-8fbe-c8635058f377.png">

How quickly can we resolve this?

This is the email Bryan sent me:
The issue with the

[2016-12-21 16:58] rikalively opened #236 "Customer not receiving EAM emails"
We have a customer who purchased an Early Adopter Membership - his order was marked and he was billed but he has not received any follow-up emails from us. We need to register him as an Early Adopter Membership and send him all of those EAM emails.

How soon can we resolve this?

This is the email Bryan sent me:
Hi everyone,

You can read this message chain, but here's the problem;

Jason Fairbank

[2016-12-26 12:27] debdiproy commented on #235
@rikalively This issue seems that the code was used by the same person for more than 1 time so please clarify if that is the case also give us the member username.

[2016-12-26 15:10] rikalively commented on #235
I will check with Bryan. This should be the email for the account - pastorjason@lakeworthchurch.org

[2016-12-26 15:14] rikalively commented on #236
What's happening with resolving this issue?

[2016-12-26 16:31] rikalively commented on #235
I'll check with Bryan!

[2016-12-27 08:11] bikash02 commented on #235
We have resolved the issue on 21st Dec 2016. I checked the database and there was no data in the "user_coupon_mapping" table. So please try once again and let us know the result.We already tested on the development server and it was working.

If the subscriber still trouble getting used to the coupon code please let us know.

[2016-12-27 08:35] bikash02 commented on #236
Updated the user to Early Adopter Member.
Please ask him to check "pastorjason@lakeworthchurch.org" an email send to his inbox regarding updating the password.

[2016-12-27 15:00] rikalively commented on #235
<img width="672" alt="screen shot 2016-12-27 at 9 54 45 am" src="https://cloud.githubusercontent.com/assets/23104131/21502062/18e3edd2-cc1b-11e6-810e-6a53b4ca3993.png">

I just tried this and it gave me this error. The account I used is an early adopter member but it gave me this message. The account email is rika+1@skycrossmedia.com

[2016-12-28 11:15] bikash02 commented on #235
@rikalively @debdiproy I have tested using your account by altering the password temporarily.I applied the coupon code "CEAM2016" and its working fine.Here is the order id CMP44434596

![success](https://cloud.githubusercontent.com/assets/16361011/21520494/ab81ebf8-cd1a-11e6-860f-e050f100f536.png)

Please login into the system and you will able to get more about the order details.

One more thing

[2016-12-28 15:03] rikalively commented on #235
I just made a new account and purchased EAM using this link - https://www.convergencemp.com/subscribe1.php
I tried the coupon and got the same error message as before? I'm using a different email every time so it should be a different account. Why am I having this issue?

[2016-12-29 13:25] bikash02 commented on #235
Resolved the issue.Please check using the same link.

[2016-12-29 13:35] bikash02 commented on #236
Follow up mail also sent to registered email id

[2016-12-30 17:31] rikalively commented on #235
Thank you!

[2016-12-30 17:31] #235 closed, assigned to bikash02

[2016-12-30 17:33] rikalively opened #237 "Cart does not save"
<img width="1417" alt="screen shot 2016-12-30 at 12 31 08 pm" src="https://cloud.githubusercontent.com/assets/23104131/21569586/1968ae78-ce8c-11e6-8465-defa3981b115.png">
On this page, if you hit "make payment" and maybe forgot to do something (like add the promo code); if you hit back, you lose what is in your cart. Can we change this so it saves what is in the user's cart?

[2016-12-30 17:35] rikalively opened #238 "Customer not receiving emails"
Bryan just sent me this message. Same as before, a customer is not receiving a receipt or any follow-up emails:

Also, I just got a message from Terry Overfelt toverfelt@broadwaychristian.net.  She joined as an EAM on Dec. 8 and did not receive a receipt for her payment or the follow up email from us.  Yet she is marked paid and completed in the back office.  Please see that her order was complete

[2017-01-02 14:34] bikash02 commented on #237
We have updated the code.

[2017-01-02 14:37] bikash02 commented on #238
Please login into the admin panel and click on "Orders" search the customer order details and click on the email icon.Once you'll hit on the icon an email send to the registered email id.

[2017-01-02 17:09] rikalively commented on #237
Great! Thank you

[2017-01-02 17:09] #237 closed, assigned to nobody

[2017-01-02 17:11] rikalively commented on #238
Thank you!

[2017-01-02 17:11] #238 closed, assigned to nobody

[2017-01-03 17:38] rikalively opened #239 "Full Event Registration has no link"
<img width="1321" alt="screen shot 2017-01-03 at 12 37 31 pm" src="https://cloud.githubusercontent.com/assets/23104131/21616896/6caba1b2-d1b1-11e6-92b4-25852f4f8ae6.png">

There needs to be a "Register now" link on this page. This is the link for full registration: https://xb323.infusionsoft.com/app/manageCart/addProduct?productId=44

[2017-01-03 21:28] #239 closed, assigned to nobody

[2017-01-05 04:37] rikalively opened #240 "Discount code not working"
A customer is trying to use the discount code OPEN25 for the CMP Live Event and he cannot get it to work nor can I.

This is the link https://xb323.infusionsoft.com/app/manageCart/showManageOrder

[2017-01-05 04:41] rikalively opened #241 "Comments/Ratings not working"
A customer has been trying to review the songs on the site and they are not showing up when submitted. The star rankings nor the comments are working. Also, the message says "reating" rather than "rating". Please fix the spelling.

Thank you!

[2017-01-05 07:52] bikash02 commented on #240
As per my knowledge discount code OPEN25 is not relevant to https://www.convergencemp.com website.I didn't find the code in backoffice.So please explain where you should apply the coupon code.We don't have access of infusionsoft.You should create the coupon code where your infusionsoft order form is hosted.

[2017-01-05 07:56] bikash02 commented on #241
@debajyotiGuha Please fix the spelling.

[2017-01-05 07:58] bikash02 commented on #241
@rikalively Once the review data will get approve from the system admin then it will show in the website otherwise you won't able to get the data.

[2017-01-05 07:59] bikash02 commented on #236
Any update?

[2017-01-05 09:00] debajyotiGuha commented on #241
Rating spelling updated.

[2017-01-05 16:30] rikalively commented on #236
Haven't heard back from anyone - but I'll assume there is no problem.

[2017-01-05 16:30] #236 closed, assigned to nobody

[2017-01-05 16:33] rikalively commented on #240
Okay - thank you.

[2017-01-05 17:39] camerontrimble commented on #240
This should be fixed. Please test @rikalively

[2017-01-05 17:40] camerontrimble commented on #241
Bryan has to approve all comments/rating. @rikalively you might need to remind him of that.

[2017-01-05 17:40] camerontrimble commented on #233
@rikalively Is this one good to go?

[2017-01-05 17:46] rikalively commented on #240
Working now! Thank you!

[2017-01-05 17:46] #240 closed, assigned to debdiproy, camerontrimble, bikash02, BryanCMP, rikalively

[2017-01-05 17:48] rikalively commented on #241
Okay! Thanks

[2017-01-05 17:48] #241 closed, assigned to debdiproy, camerontrimble, bikash02, debajyotiGuha, rikalively

[2017-01-05 17:52] rikalively commented on #233
Just tested this, it doesn't save your cart or give you a retry option if the payment fails.

[2017-01-12 00:31] rikalively opened #242 "Submitting a comment takes you to blank page"
Bryan has received multiple messages from people saying that when they try to submit a comment/rating on a song, it takes you to a blank page.
If you try again, it will go through. Can we fix this?

Also, submitted is spelled incorrectly. Please change submited to "submitted"

[2017-01-12 17:10] rikalively opened #243 "Extend Early Adopter Membership to March 31, 2017"

[2017-01-13 00:29] rikalively opened #244 "Customer did not receive membership"
A customer named Doug Hammack had purchased the EAM and has not received any follow up emails or additional membership benefits.

Here is the account information:

user id:  northraleighcommunitychurch
pass:  nrcc55555

You paid $149.00 USD to Convergence Network, Inc.
1 x Early Adopter Membership(membership) $149.00 USD
Paid with Visa x-7287 $149.00 USD
Receipt number: 4239788490727786

[2017-01-13 12:45] debdiproy commented on #244
Hello @rikalively  @camerontrimble @BryanCMP

This can be possible that a customer did not receive an email and that is the reason why we have created the module to resend emails manually. in the back end.

[2017-01-13 12:46] debdiproy commented on #243
@bikash02 Please change the date accordingly

[2017-01-13 12:46] debdiproy commented on #242
@bikash02 Check and resolve this by today

[2017-01-13 12:53] debajyotiGuha commented on #243
Extended.

[2017-01-13 13:09] bikash02 commented on #244
I have checked the customer details, upgraded the membership and the follow up email sent to registered email id.

[2017-01-13 14:49] debajyotiGuha commented on #242
Updated.

[2017-01-13 17:15] rikalively commented on #242
Thank you!

Also, submitted and successfully are spelled incorrectly. Change from "submited" to "submitted" and
"succesfully"to "successfully"

[2017-01-13 17:17] rikalively commented on #243
Thank you!

[2017-01-13 17:17] #243 closed, assigned to nobody

[2017-01-13 21:03] rikalively commented on #242
@BryanCMP  reported that customers are still having issues posting comments. Sometimes it works and sometimes it doesn't. We need to find a way to make this consistent.

[2017-01-16 19:50] #244 closed, assigned to nobody

[2017-01-16 19:51] rikalively opened #245 "Customer charged twice"
A CMP Early Adopter member named Elane O’Rourke says she was charged 2 times for the membership and would like to be reimbursed for the second one.
She joined on 1/5/17.

Please reimburse her as soon as possible.

[2017-01-17 21:28] rikalively opened #246 "Fix Customer Account"
Here’s another person who was charged for the Early Adopter Membership but never got things working:

Lisa Gaul
lgucchot@live.com

She said when she tried to sign in it was unsuccessful and when she tried "forgot password," she never got a return email.

[2017-01-19 11:16] bikash02 commented on #246
Did you get the payment from her?I checked the system and she created her account on 2016-10-18 02:25:02 as normal user.So please confirm then we'll upgrade her account to EAM .

[2017-01-19 11:31] bikash02 commented on #245
I have reviewed the system including database and she joined on 2017-01-05. I didn't find any duplicate orders against her ID for the  Early Adopter membership.
Here is the order details
{Order id: CMP36417403} {Date: 2017-01-05 12:34:32} {Amount: 149}

So please clarify and let me know your feedback.

[2017-01-19 11:52] bikash02 commented on #242
I have tested personally and its working for both blog comment and product comment & rating.So if you explain what kind of error the customers were facing then it'll be more easier to fix the issue.We have tested the page for IE,firefox & chrome as well.

Note: {If the comment /Rating wasn't approved by the admin it will not publish in the website.}

[2017-01-19 17:38] rikalively commented on #246
She did get a receipt from paypal. She should be a EAM user.

[2017-01-19 17:45] rikalively commented on #242
The comment page just seems to be unpredictable - sometimes it works and sometimes it doesn't - it's not consistent. Have you tested it for Safari?

Also, maybe in the message that says, "Your review and rating submitted successfully" we can change it to "Your review and rating pending approval" so people understand that it won't show up right away.

[2017-01-20 08:12] bikash02 commented on #246
Upgraded to EAM and follow up email sent to her id.

[2017-01-20 15:03] debajyotiGuha commented on #242
Updated

[2017-01-20 21:42] rikalively opened #247 "Customer paid by check - account needs to be active"
Jeffrey Lingle paid by check instead of credit to be an EAM. His email is pastor@epiphany-rockhill.org
The check was sent to the Atlanta office along with all of the necessary information. We need to set him up as an EAM and get his membership going.  Please fix this as soon as possible.

[2017-01-20 21:55] #246 closed, assigned to nobody

[2017-01-23 09:42] bikash02 commented on #247
I will check the system and will give you update asap.

[2017-01-23 10:00] bikash02 commented on #247
I created an account for him and set him up as an EAM.Please ask him to follow the email  pastor@epiphany-rockhill.org

[2017-01-23 10:03] bikash02 commented on #247
Please keep me inform if any further payment is done by check as because we have only credit card option to pay.

[2017-01-23 23:39] rikalively commented on #247
Thank you!

[2017-01-23 23:39] #247 closed, assigned to debdiproy, BryanCMP

[2017-02-03 15:46] rikalively opened #248 "Update Customer Account"
Dwight Hein, who purchased an Early Adopter Membership on 10/31/16, has never received his follow up email and his membership is not yet active.

Please check into this and make sure he has everything he needs.  His email is pastor@salemucccampbelltown.org

Please make sure he’s good to go as an Early Adopter Member.

[2017-02-08 02:29] rikalively commented on #248
Has this been resolved?

[2017-02-08 09:09] bikash02 commented on #248
Resolved.

[2017-02-08 14:38] #248 closed, assigned to nobody

[2017-02-09 08:34] bikash02 commented on #245
any update?

[2017-02-10 01:00] rikalively commented on #245
I have not gotten an update. @BryanCMP - any news on this issue?

[2017-02-15 11:13] bikash02 commented on #202
@camerontrimble @debdiproy We have faced some troubles while developing this module.So can you please explain what to do for the below points.
1.How will someone add the license price for the artist package?Is it a fixed value or {multiply by selected option}? Suppose someone select a artist {having 10songs}. Will it be 10 x selected license option price?
2.The quantity will be variable or single

[2017-02-15 11:30] bikash02 commented on #233
We have tested and saved the cart data after logout the session.
http://cleonix.biz/convergencemp/product-listing.php

Please try to follow the below steps.
1.Login into the system.
2.Select the product and click on "add to cart".
3. Logout your account and login again.
4.Then click on cart you will get that product you added to cart before.

Let me know if you have any difficulties or send me you

[2017-02-15 22:58] rikalively commented on #233
It does save your cart after logging back in again. However, if you check out and the payment fails (typed in wrong credit card number or zip code...etc.), it does not save your cart.

[2017-02-16 07:58] bikash02 commented on #233
If the payment failed due to some wrong card information then you have to go to my account page
1.Click on "My Orders" then "Pending Orders" tabs
2.Click on the "RE ORDER" button.

We can't save anyone card details into the system.So you have to enter all the card information again to complete the transaction.

Please confirm what you want in that case.

[2017-02-17 02:30] rikalively commented on #233
The site doesn't need to save the card details. But usually when someone checks out on an online shop and they make a mistake (incorrect card details), the cart doesn't delete itself. It just asks you to re-enter card details. Entering the card details again isn't a big deal - it's just frustrating to lose the stuff in your cart.

If the system can save the cart, it would be easier because I don't

[2017-02-17 16:14] rikalively opened #249 "My Downloads Glitch"
Customer David Exley is having trouble downloading his purchased songs. He can only download one of his purchased songs - when he tries to click the other links to download his other purchases, it just takes him to the first product.

His email is dexley@gmail.com

How soon can we resolve this?

[2017-02-22 18:54] rikalively commented on #249
@debdiproy How are we doing on resolving this issue?

[2017-02-23 12:24] bikash02 commented on #249
Resolved the issue.Please ask him to check.

[2017-02-24 08:13] bikash02 commented on #233
We have updated the code.Please check once and let me know if it was okay or not.
If the transaction was failed then you'll be redirected to failure page and there you'll get the re-pay button.Now you don't go to pending orders page.

Waiting for your feedback.

[2017-02-24 22:34] rikalively commented on #233
Well now it's letting me purchase music for free. I didn't enter any credit card information and this is the message I got. I did it again just to make sure I hadn't made a mistake. This needs to be fixed as soon as possible.
<img width="693" alt="screen shot 2017-02-24 at 5 30 36 pm" src="https://cloud.githubusercontent.com/assets/23104131/23323640/774722a2-fab7-11e6-9f47-d88b749009f6.png">
<img

[2017-02-27 11:55] debdiproy commented on #233
@rikalively Can you let me know which browser you have tested this with as I have tried using chrome and firefox and it is not letting me go without entering card details
![convergence music project](https://cloud.githubusercontent.com/assets/15095068/23360372/f61d754e-fd10-11e6-8d88-f472dcfd302a.png)

[2017-02-27 16:20] rikalively commented on #233
@debdiproy Safari

[2017-03-03 12:50] bikash02 commented on #233
Please tell me where you're testing in development or production server?

[2017-03-03 17:46] rikalively commented on #233
I'm testing on the live website. I made a new account as if I were a new user and it let me access the music. I just tried it again and was able to access the music without purchasing it.
<img width="770" alt="screen shot 2017-03-03 at 12 46 24 pm" src="https://cloud.githubusercontent.com/assets/23104131/23562186/751c6fa2-000f-11e7-86f3-0c635405b1e7.png">

[2017-03-09 11:09] bikash02 commented on #233
We have updated the code and resolved the issue.Please check from your end in the live server.
http://convergencemp.com/

[2017-03-10 21:32] rikalively commented on #233
Working now.

[2017-03-15 22:11] #245 closed, assigned to debajyotiGuha

[2017-03-15 22:11] #242 closed, assigned to bikash02, debajyotiGuha

[2017-03-16 16:46] camerontrimble opened #250 "EMERGENCY: Our site has been compromised"
I received this email this morning:

I found some errors (bugs) on your website,
which allows me to access the contents of your database.

First, let me introduce myself. My name is and I wira Zaky security tester.
If you want to know where the error, contact me,
I will provide details about the error on your website and I will help you to fix it.

This is a very dangerous mistake. If you fall int